[2021-02-22 08:44] pabloto opened #4 "Configuration of SSH connection"
HI,

Could you let me configure the port for connecting to my IBM I or Could you let me specify a certificate?

Because my server on port 22 accept connections only with certificate (because it is open on internet), while on port 2222 it let me connect with user and password.

Many thanks.

[2021-02-22 13:57] worksofliam commented on #4
Hey @pabloto!

There is a PR open for this and we hope to get it done today.

[2021-02-22 16:28] worksofliam commented on #4
Please upgrade to 0.0.3

[2021-02-22 16:28] #4 closed

[2021-02-22 18:44] dariocs opened #7 "error loading member (error with CPYTOIMPF)"
I installed it , I'm connecting  but I have error loading member message , How could I debug or give you more info?
Thanks

[2021-02-22 18:51] worksofliam commented on #7
Send us a screenshot + see this for running in debug: https://github.com/halcyon-tech/code-for-ibmi#run-from-local

[2021-02-22 20:58] thebeardedgeek opened #10 "A way to refresh the library/member after the initial load"
I cannot figure out a way to refresh the library/member view with the browser pulled up. Is there a way to do this?

[2021-02-22 21:44] worksofliam commented on #10
Yes! I just shipped 0.0.4 which added Right Click -> Refresh on the Member Browser

[2021-02-22 21:44] #10 closed

[2021-02-23 14:34] KlausPeterLuttkus commented on #7
Same problem as dariocs:

I'm working on IBM i V7R4, latest ptfs installed. System CCSID: 1141
![23-02-_2021_15-32-20_Error_loading_member](https://user-images.githubusercontent.com/23362564/108858472-7b855780-75ec-11eb-9eaf-982e8e1a4c71.png)

Help would be appreciated
Thanks a lot!

[2021-02-23 14:43] worksofliam commented on #7
I am releasing 0.0.6 which will print an error message with the text when you see that. Hopefully, that will help us.

Thanks!

[2021-02-23 15:17] worksofliam opened #12 "Documentation"
We need documentation in either HTML format or markdown (preferred).

Docs should live in the `docs` folder in the root.

The following items need documenting:

* [ ] Login process. New login OR previous login
* [ ] The settings. What each of them means
* [ ] Loading members. How to add more source files
* [ ] Opening source members
* [ ] How to compile sources
* [ ] How to configure the compile s

[2021-02-23 15:19] worksofliam opened #13 "IFS Browser / streamfile editor"

[2021-02-23 15:58] ashwindevx commented on #12
Hi! I'm very new to this Open Source world. I was wondering if you need documentation in markdown of README.md or anything else because it looks fine for me.

I mean it looked like a good markdown. So what change do you want?

[2021-02-23 16:00] dariocs commented on #7
the  error message is "CPD0104  incorrect parameter OUTQ . CPF0006: Errors
occurred in command"
Thanks!

Il Mar 23 Feb 2021, 15:43 barry <notifications@github.com> ha scritto:

[2021-02-23 16:08] worksofliam commented on #7
@dariocs What is your temp library in the settings?

[2021-02-23 16:29] worksofliam commented on #12
Hi @ashwindevx

Thanks for your interest! It does take a bit of knowledge I suppose, but I updated the original message with the items which need documenting.

[2021-02-23 16:55] dferrand opened #14 "Can't open connection dialog"
When pressing F1 and choosing "IBMi: Connect" I get the following error:
Command 'IBM i: Connect' resulted in an error
(command 'code-for-ibmi.connect' not found)

code-for-ibmi 0.0.6, VS Code 1.53.2 on linux

[2021-02-23 17:00] dariocs commented on #7
my temp library in the settings was QTEMP I changed to MYLIB and  now the
error is
CPF2845: La copia non è stata completata per il codice causa 5.
CPF2817: Il comando di copia si è interrotto a causa di un errore.

Il giorno mar 23 feb 2021 alle ore 17:08 barry <notifications@github.com>
ha scritto:

[2021-02-23 17:10] barrettotte commented on #12
@worksofliam Do you think Docsify would be a decent candidate for the markdown solution ? I've only used it [once](https://barrettotte.github.io/IBMi-Book/#/) in the past. I haven't explored any other options so far.

I had these links laying in a notes file :

- https://docsify.js.org/#/quickstart
- https://docsify.js.org/#/deploy
- https://github.com/MichaelCurrin/docsify-js-tutorial

[2021-02-23 17:12] worksofliam commented on #7
@dariocs Yes, you can't use QTEMP. We should note that down.

Are you able to find out what CPF2845 - reason code 5 is? This is coming from `CPYTOIMPF`.

[2021-02-23 17:18] worksofliam commented on #12
@barrettotte That'd be awesome! I see it can use the `docs` folder also - which is perfect.

[2021-02-23 17:30] worksofliam commented on #14
@dferrand That is certainly an odd issue. I am afraid you might have to debug that one yourself since I cannot recreate it.

https://github.com/halcyon-tech/code-for-ibmi#run-from-local

[2021-02-23 17:40] getfoundational commented on #14
I have the same issue.  I saw this on the Midrange email list today and did the following steps.
1.  Downloaded and installed VS Code (Version 1.53.2)
2. Installed Code for IBMi Extension
3. Installed IBMi Languages Extension
4. Tried following instructions on main page of this project where is says to press F1 and find 'IBM i: Connect'

When doing that, nothing shows up in the find result.

[2021-02-23 17:48] dariocs commented on #7
Seems  DTAFMT are not valid.

Message ID . . . . . . : CPF2845 Severity . . . . . . . : 40
Message type . . . . . : Diagnostic

Message . . . . : The copy did not complete for reason code 1.
Cause . . . . . : The Copy From Import File (CPYFRMIMPF) command, or Copy To
Import File (CPYTOIMPF) command could not be completed for reason 1. The
reason codes are:
1 - The CCSID or code page value is not v

[2021-02-23 18:01] getfoundational commented on #14
I think I solved it.  The 2 extensions I mentioned above appear to be for code highlighting, syntax, etc.

The extension that you need for connections and such is RPG for IBM i here:
https://marketplace.visualstudio.com/items?itemName=HalcyonTechLtd.code-for-ibmi

After installing that, I do see the connection option.

[2021-02-23 18:34] barrettotte commented on #14
@dferrand @getfoundational I submitted a PR (https://github.com/halcyon-tech/code-for-ibmi/pull/15) that should resolve this problem on Linux (tested with Ubuntu 20.04.2), it seems to be a small file naming issue that didn't wasn't effecting Windows

[2021-02-23 18:36] worksofliam commented on #7
@dariocs What version of IBM i are you running?

[2021-02-23 18:36] AjaykulkarniIBMi opened #16 "Any issues with IASP?"
I am able to set up and see my source file and library. However, when I click on some members I don't see these sources.
nothing happens.
I am able to open source on QSYSINC/H.

I am not sure if IASP is an issue? I see all the source code files expanded, it's just that it does open when double clicked.

[2021-02-23 18:39] worksofliam commented on #16
Yep. That'd be an ASP issue 👎

I know the fix. Just got to do it :)

[2021-02-23 18:39] #14 closed

[2021-02-23 18:43] dferrand commented on #14
Yeah found it too.
File is src/Instance.js and extension.js references src/instance.
It works on windows because the filesystem is not case sensitive

[2021-02-23 19:11] dariocs commented on #7
@barry  I’m at 7.4  Inviato da Posta per Windows 10 Da: barryInviato: martedì 23 febbraio 2021 19:36A: halcyon-tech/code-for-ibmiCc: dariocs; MentionOggetto: Re: [halcyon-tech/code-for-ibmi] error loading member (#7) @dariocs What version of IBM i are you running?—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe. 

[2021-02-23 20:07] worksofliam commented on #7
@dariocs

This is the command being run to get the member list. You should run it and see what happens. Also, see what you have to change to get it to work.

[code]

[2021-02-23 20:16] worksofliam opened #17 "More compile defaults"
We're looking for some more compile defaults. Right now we only have RPGLE.

We're looking for defaults for the following extensions:

* [x] RPGLE, SQLRPGLE
* [x] CLLE, CL, CLP
* [ ] CBBLE, COBOL, CBL
* [ ] C
* [ ] CPP

See this link for an example, and also where to add more defaults: https://github.com/halcyon-tech/code-for-ibmi/blob/master/package.json#L126

[2021-02-23 21:05] worksofliam commented on #16
My plan is to make the ASP a configurable item in the settings.

[2021-02-23 21:05] thebeardedgeek commented on #17
I added CLLE and CLP, which we just committed in version 0.0.7. Thanks @worksofliam

[2021-02-23 21:06] worksofliam commented on #17
@thebeardedgeek I ticked it off. Thanks!

[2021-02-23 21:07] worksofliam opened #19 "Issue with renaming"
Renaming errors when you only change the extension, which should be possible.

[2021-02-23 21:47] #19 closed

[2021-02-23 21:53] worksofliam commented on #19
@richardschoen Fixed.

[2021-02-23 21:57] worksofliam commented on #16
@AjaykulkarniIBMi Grab 0.0.8 and see the source ASP config in the settings.

[2021-02-23 23:47] richardschoen opened #20 "Rename compile options to Actions and hang a right click option off the source member to be able right click trigger an action for a member"

[2021-02-24 01:20] worksofliam commented on #20
On it 👍

[2021-02-24 02:30] worksofliam commented on #20
Out in 0.0.9

[2021-02-24 02:30] #20 closed

[2021-02-24 04:27] richardschoen commented on #20
Nice.

[2021-02-24 04:28] richardschoen opened #21 "Place "Run Action" a the top of the right-click menu with a separator if possible."
Not high pty, but once we figure out re-ordering menu items, let's put Run Action at the top and possibly a separator and then the member actions.

[2021-02-24 04:46] richardschoen opened #22 "Re-enable "global" member actions"
Not high pty, but global action commands not working.

[2021-02-24 04:54] richardschoen opened #23 "For Run Action, change completion message since it's no longer just for compiles."
After action completes, if not using a compile command the completion message still says:
"Compiled file/member successfully" ot on fail "file/member did not compile."

Couple thoughts for easy change:
"file/member action completed successfully" or on fail "file/member action did not complete successfully."

More complex thought 1:
Possibly put a completion or error message in the settings.json fo

[2021-02-24 04:56] richardschoen commented on #23
Interestingly I already see the CPF messages on the IBM i Compile Log. Which may need a name change as well to "IBM i Output Log"  or "IBM i Output".

[2021-02-24 05:05] worksofliam commented on #23
Changed action result message texts and also renamed channel output

[2021-02-24 05:05] #23 closed

[2021-02-24 05:05] worksofliam commented on #22
Fixed

[2021-02-24 05:05] #22 closed

[2021-02-24 07:50] dariocs commented on #7
Adding FLDDLM(';') instead the default FLDDLM(',')  it  works:

QSYS/CPYTOIMPF FROMFILE(PROVAD/MBRLIST MBRLIST) TOSTMF('/tmp/THELIST.csv')
MBROPT(*REPLACE) STMFCCSID(1208) RCDDLM(*CRLF) DTAFMT(*DLM)
RMVBLANK(*TRAILING)
FLDDLM(';') ADDCOLNAM(*SQL)

Il giorno mar 23 feb 2021 alle ore 21:07 barry <notifications@github.com>
ha scritto:

[2021-02-24 08:04] dariocs commented on #7
or Adding FLDDLM(';')   DECPNT(*PERIOD)   also it  works:
QSYS/CPYTOIMPF FROMFILE(PROVAD/MBRLIST MBRLIST)
               TOSTMF('/tmp/THELIST.csv')
               MBROPT(*REPLACE)
               STMFCCSID(1208)
               RCDDLM(*CRLF)
               DTAFMT(*DLM)
               RMVBLANK(*TRAILING)
               FLDDLM(',')
               DECPNT(*PERIOD)
               ADDCOLNAM(*SQL)

the err

[2021-02-24 09:44] KlausPeterLuttkus commented on #7
In my case the culprit was the temporary library. i sat it to QTEMP. After changing that to a self created library the display of source members works like a charm.

Thanks for helping!

[2021-02-24 12:31] pabloto opened #24 "Could I use git?"
Until now, I copy my source into my home directory (of my ibm i user) and there I make a git.init, so I can use git.

Is there a possibility to use git with your extension?

Many thanks.

[2021-02-24 12:43] richardschoen opened #25 "Can Problems Tab be cleared. Continues to grow after several compiles"
Not sure if this is a VS code thing or not, but messages pile up.

[2021-02-24 12:44] richardschoen opened #26 "Object browser similar to member browser"
This was Liams

[2021-02-24 12:56] worksofliam commented on #25
Can't recreate it. Share a screenshot please

[2021-02-24 12:58] worksofliam commented on #24
Git does not integrate with the extension.

[2021-02-24 12:58] #24 closed

[2021-02-24 12:58] #16 closed

[2021-02-24 13:07] thebeardedgeek commented on #25
https://github.com/Microsoft/vscode/issues/66982#issuecomment-699516908
Maybe diagnostics.clear() will help?

I am seeing the same thing. The problems show even after closing the file.

[2021-02-24 13:09] thebeardedgeek commented on #25
![image](https://user-images.githubusercontent.com/9466407/109005090-2cccd180-766f-11eb-8571-15de73687e97.png)
The file is closed but the problems are still showing.

[2021-02-24 13:11] worksofliam commented on #25
Yes, problems will remain even when the file is closed - this is normal VS Code behavior. Problems only disappear when it compiles successfully.

Maybe we need to add our own command to clear them.

[2021-02-24 13:12] worksofliam commented on #25
This is where the logic is: https://github.com/halcyon-tech/code-for-ibmi/blob/master/src/api/CompileTools.js#L38

[2021-02-24 13:15] worksofliam commented on #12
I am starting to think a simple gh-pages might do the trick.. just to get started.

[2021-02-24 13:40] worksofliam commented on #26
What would the object browser be used for? That's the real question

[2021-02-24 13:41] worksofliam commented on #25
I think the plan is to add a command which will clear the Problems window.

[2021-02-24 13:42] richardschoen commented on #26
Not sure. I was just writing down your idea :-)

I suppose just like WRKOBJPDM or WRKOBJ or Object list in RDI to access objects and attributes.

[2021-02-24 16:34] worksofliam opened #28 "PR template"
Needs to include the following items:

* [ ] have tested my change
* [ ] updated relevant documentation
* [ ] Remove any/all `console.log`s I added
* [ ] eslint is not complaining
* [ ] have added myself to the contributors list in the README

[2021-02-24 17:53] dariocs commented on #7
In my case the default of the command is DECENT(*COMMA ) , i have changed to DECANT(*PERIOD) and it works:
Please , Could you add DECPNT(*PERIOD) to your command?

QSYS/CPYTOIMPF FROMFILE(PROVAD/MBRLIST MBRLIST)
               TOSTMF('/tmp/THELIST.csv')
               MBROPT(*REPLACE)
               STMFCCSID(1208)
               RCDDLM(*CRLF)
               DTAFMT(*DLM)
               RMVBLANK(*T

[2021-02-24 19:51] SJLennon opened #29 "Connect to previous IBM i"
I can successfully connect using the "Connect to an IBM i" button.  Therefore this issue is not urgent.

However, when I restart VSCODE, I thought I should be able to to use the "Connect to previous IBM i" to avoid some typing.  While it does seem to remember my previous connections, nothing seems to happen, as shown below.
![vscode1](https://user-images.githubusercontent.com/67484051/109054812-56

[2021-02-25 01:40] worksofliam commented on #29
Well, sorry it's not as obvious but that second box is for the password. I will make it mention that - thanks.

[2021-02-25 01:45] worksofliam commented on #29
Change is here. Will be available in 0.0.13

[2021-02-25 01:45] #29 closed

[2021-02-25 01:49] #28 closed

[2021-02-25 02:10] worksofliam commented on #12
Thanks to @barrettotte for tackling this. I also made it part of the PR requirements that they update the docs.

[2021-02-25 02:10] #12 closed

[2021-02-25 02:12] worksofliam commented on #7
@dariocs I need you to try and fix this one on your end and make a PR for it, I'm afraid.

Best try getting it working for you first and then we can work together to get it released since I cannot recreate this issue.

[2021-02-25 02:57] richardschoen commented on #24
Actually it does if you're using my iForgit plugin product for Git source management of IBM i source members.  http://www.iforgit.com

[2021-02-25 03:01] richardschoen commented on #21
Implementation in .13 looks good but move Run Action to top.

[2021-02-25 03:03] richardschoen opened #30 "Add a Remove Source Files option when right-clicking on source file"
This way if developer wants to remove a source file from the workspace on left they can.

[2021-02-25 03:35] SJLennon commented on #29
Well duh!  I was pretty sure that I tried putting my password in there, but apparently not.  It does work. Sorry...

[2021-02-25 12:45] richardschoen opened #31 "Source member list refresh at top refreshes all current source files. Could be slow."
Is there a way to only refresh the selected source file in case a developer has several source files in their list ?

Ex: Click on source file and then click the refresh icon at the top.

If this change is made title it: "Refresh Selected Source File" instead of "Refresh Member List"

Another option would be to just re-add the Right-Click option at the source file level to just refresh the selecte

[2021-02-25 13:35] worksofliam commented on #31
As far as I could tell there isn't a particularly easy way or obvious way to do it. I will leave it open.

[2021-02-25 13:36] worksofliam commented on #30
Nice idea

[2021-02-25 14:56] richardschoen commented on #31
You had a right-click before at the source file level.   Was that just triggering a refresh of entire list for all source files ?  I'm guessing  you are calling the refresh code for each source file., but I didn't dig in and look.

[2021-02-25 15:02] worksofliam commented on #31
@richardschoen Even the right-click option that was there before was refreshing the entire menu.

[2021-02-25 15:57] worksofliam commented on #21
![image](https://user-images.githubusercontent.com/3708366/109179751-367e3400-7758-11eb-8adb-0dd5b0db8a53.png)

in 0.0.14

[2021-02-25 15:58] #21 closed

[2021-02-25 16:10] worksofliam commented on #13
https://stackoverflow.com/questions/66371447/filesystemprovider-on-a-different-view

[2021-02-25 16:43] barrettotte commented on #31
@worksofliam @richardschoen I have a little attempt to add this functionality. It involves a bit of in-memory caching so it might not be very performant. But, I think I was able to get it working with [this commit](https://github.com/barrettotte/code-for-ibmi/commit/c418ca91855c497b521b15e6db23d934ac536041).

Summary:
- when building tree view of members, check cache for key 'LIB/SPF'
  - If exist

[2021-02-25 16:45] worksofliam commented on #31
@barrettotte That change makes a lot of sense, actually. I like it.

Whenever you feel ready, make a PR and I'd love to take it for a whirl. Thanks a lot.

[2021-02-25 16:53] worksofliam opened #32 "Language tools for RPGLE (outline, content assist, etc)"
Somethings to consider:

* [ ] When the user saves the member (or streamfile) do we want to run a compiler with `*EVENTF *NOGEN` so we can generate an error listing, which would then populate the diagnostics panel? This is more real-time than having to compile every time you want the diagnostics to update. We can do this without a language server.
* [ ] Do we want to build an outline view for RPGL

[2021-02-25 16:55] worksofliam commented on #32
Any way to make use of the existing IBMiLangiages dep we have for an LSP? Maybe @barrettotte can comment on that.

Other inspiring projects:

* https://github.com/andlrc/rpglelint
* https://github.com/andlrc/rpglefmt

[2021-02-25 17:05] barrettotte commented on #32
@worksofliam Ah yeah this is something I've been keeping in the back of my mind for awhile. I could be wrong, but unfortunately I don't think the TextMate grammars I made in IBMiLanguages can really be used for anything outside of syntax highlighting. The extent would maybe be reusing some of the regex, but that's just being optimistic lol.

I think a lot of this would definitely involve some kind

[2021-02-25 17:12] worksofliam commented on #32
I kind of assumed that using the TM grammars would be a PITA to port over, which is totally unfortunate.

The mix of free and fixed does make the entire thing totally complicated. I can't imagine what the codebase for the RPGLE compiler is like these days, thinking about all the backwards support it needs to have.

I personally don't see a problem with supporting only free-format for the time bein

[2021-02-25 17:18] worksofliam commented on #32
@barrettotte I don't know what use this is to us, but back when I writing NetRPG I converted the bad lexer from that project to JavaScript.

https://gist.github.com/worksofliam/fe6afa456b1bb7575b441f76c2e4235a

This only covers totally free format, tho.

[2021-02-25 17:43] barrettotte commented on #32
@worksofliam If I find time this weekend, I might do a tutorial or something on LSP and see how hard it would be to implement something simple just to get started. I've been looking around a bit at some of the servers on https://microsoft.github.io/language-server-protocol/implementors/servers/ .

One thing I'm a little worried about is external symbols/references. If source is referencing some ex

[2021-02-25 17:51] barrettotte commented on #32
I should have added to that prior comment that there's no guarantees I'll figure anything out, so if anyone wants to take a swing at this feel free lol.

[2021-02-25 18:02] worksofliam commented on #32
@barrettotte Might be useful to know if you watch to fetch members within another extension (the LSP) while you have Code for IBM i installed and connected, you can use our scheme to download/open members.

[code]

[2021-02-25 18:18] thebeardedgeek opened #34 "Save before Compile Alert Prompt"
When I was compiling today it kept giving me errors with my code. I had made the corrections but was still getting the errors. Finally, I realized that I hadn't saved the changes first and it was trying to compile the last saved changes (which still contained the error).

Can we get a prompt to save if we haven't done that first or have VS Code automatically save first as part of the CRTL + E to c

[2021-02-25 18:20] worksofliam commented on #34
Great, idea!

[2021-02-25 18:24] worksofliam commented on #34
![image](https://user-images.githubusercontent.com/3708366/109198968-da71da80-776c-11eb-8d25-2ee4f811ec56.png)

[2021-02-25 18:27] worksofliam commented on #34
Will be out in 0.0.14

[2021-02-25 18:27] #34 closed

[2021-02-25 19:50] thebeardedgeek commented on #34
Bro... Nice! Ask and ye shall receive! Thank you.

[2021-02-25 19:53] thebeardedgeek commented on #29
@SJLennon it does make sense for this request... I believe others will run into this as well. Thanks @worksofliam for changing that.

P.S. I like the new icon for the plug-in as well.

[2021-02-25 19:57] thebeardedgeek commented on #21
@richardschoen What other actions can you run?

[2021-02-25 20:04] worksofliam opened #36 "Expose our Instance for other extensions"
I am seeing a lot of potentials for other people to write extensions that connect to an IBM i to do some specific, so we should write stuff so people can use our connect and some of our APIs!

https://stackoverflow.com/a/49723036/4763757

[2021-02-25 20:07] thebeardedgeek commented on #32
@worksofliam on option 1 in regards to saving and running a compiler with *EVENTF *NOGEN I like this idea but I wonder if someone that saves every few seconds would tax this process. Options I was thinking for this:

1. A shortcut key that could save + run the compiler and get the diagnostic messages without compiling the object
2. A separate shortcut key that would run the compiler and get the di

[2021-02-25 20:33] richardschoen commented on #21
We renamed Compile to Actions. So pretty much any CL command can be executed along with source member info or without source member info. Actions can be global or tied to a source type.

[2021-02-25 22:15] SJLennon commented on #34
Yeah!  This caught me too...  Thanks.

[2021-02-25 23:24] JonFP opened #37 "No obvious way to close a connection"
I have two systems that I connect to regularly.  If I try to open a second connection while one is active, I get an error telling me there is already an active connection.  But I can find no obvious way to disconnect from one and connect to the other.

I'm probably just missing something but ...

[2021-02-25 23:30] worksofliam commented on #37
Nope, you aren't missing anything. Right now, there isn't a way to disconnect from the existing system. Let me work on that for 0.0.14

[2021-02-26 00:09] worksofliam commented on #37
Available in 0.0.14.. coming out very soon

[2021-02-26 02:01] #13 closed

[2021-02-26 14:00] dferrand commented on #30
I can do this one (hopefully)

[2021-02-26 14:05] richardschoen opened #39 "Allow IFS browser user to add/remove multiple directories from list similar to how source files are added/removed"
Also make sure that DOT files. Ex: .bashrc, .profiles, etc show up.

[2021-02-26 14:06] richardschoen opened #40 "Make IFS file extension available as a action variable"

[2021-02-26 14:10] richardschoen opened #41 "Option to enforce double-click to open source member or IFS file."
I find myself single-clicking files and opening them randomly when I really didn't want the file or source member to open.

If others like single-click open functionality, create a setting called Single-Click-Open.

If enabled, function as does already.

If disabled, enforce double click opens.

Note: If I were to click a HUUGE file this could be disruptive.

[2021-02-26 14:14] richardschoen opened #42 "Allow me to trigger a QSH script on action for IFS file."
Maybe it already works this way, but I haven't tested yet.

This way if I have a make file or something else PASE/QSH I want to run I can trigger it here.

An alternative option is I can use my QSHEXEC command to run a QSH/PASE script.

[2021-02-26 14:16] worksofliam commented on #41
A nonissue for the extension.

See this SO answer: https://stackoverflow.com/questions/46821368/visual-studio-code-open-file-shortcut-for-double-click

[2021-02-26 14:16] #41 closed

[2021-02-26 14:17] worksofliam commented on #40
`&EXT` for both members and streamfiles

[2021-02-26 14:19] richardschoen opened #43 "Allow alpha sorting and possibly filtering on IFS file list"
When I listed my root dir /, my files and dirs were not Alphabetically sorted.

[2021-02-26 14:24] richardschoen commented on #41
Not sure what you mean by non-issue ?  I cannot enforce double-clicking to open.

[2021-02-26 14:29] worksofliam commented on #39
Did you change the setting as in the answers?

[2021-02-26 14:30] richardschoen commented on #41
So people don't need to go elsewhere, here's the setting to add into your settings.json file for VS Code:
**"workbench.list.openMode": "doubleClick"**

[2021-02-26 14:32] richardschoen opened #44 "On IFS browser, allow me to manually switch to a directory"
Let's say I want to quickly nav to a directory and download a files or do something with is.  A manual **cd** option would be nice.

This is more of a nice-to-have.

[2021-02-26 14:34] richardschoen opened #45 "Allow me to download / upload files to my PC with the IFS browser."
It would be nice to quickly download a copy of an IFS file or regular source member for offline editing.

Not high priority, but would be cool

Download selected IFS file:
Right click on IFS file, select download, prompt where to save to locally.

Upload selected IFS file:
Right click IFS file and select upload, prompt for local file to upload. Will replace contents of selected IFS file.

Upload F

[2021-02-26 14:36] richardschoen opened #46 "Allow me to download / upload a source member to my PC for offline editing"
It would be nice to quickly download a copy of an source member form a source file for offline editing.

Not high priority, but would be cool.

Download:
Right click on member, select download, prompt where to save to locally.

Upload:
Right click source member and select upload, prompt for local file to upload. Will replace contents of selected source member.

[2021-02-26 14:43] richardschoen opened #47 "Right-click to Show File Info on IFS files from IFS Browser"
Just to be able to see all the standard IFS attributes.

Could even trigger one of the CL commands to show the output of DSPATR or whatever Cl command shows file attributes.

[2021-02-26 14:46] richardschoen commented on #39
Not sure what you're asking ?

[2021-02-26 17:15] SJLennon commented on #37
@worksofliam @JonFP
This is good and answered a question I was about to ask.  Kudos for quick fixes!

However, I see a problem if there are unsaved changes in an editor.

I was connected. Made a changed to a file, but did not save.  Then I did F1, then "Connect to previous" and immediately it closed my first connection.  Now I have that editor still open with an unsaved change and no connection.

[2021-02-26 18:05] worksofliam commented on #37
That's a great point! I think for now the best option is to close the saved files, but then switch to a file that isn't saved. I've pushed this up and will be available in 0.1.1

[2021-02-26 18:22] worksofliam commented on #31
Thanks @barrettotte for getting this one!

[2021-02-26 18:22] #31 closed

[2021-02-26 18:28] #30 closed

[2021-02-26 18:49] worksofliam commented on #32
@thebeardedgeek If that's the case, I can take a stab at the NOGEN stuff. What is nice about the NOGEN stuff is that it's a simple implementation and it works for the majority of the ILE compiles (`CRTBNDx` and `CRTxMOD`).

[2021-02-26 21:08] SJLennon commented on #37
@worksofliam  @JonFP
I tested the change....
Minor typo I suspect:
    Cannot disconnect while files have **_no_** saved.
Probably should be:
    Cannot disconnect while files have not been saved.
Or perhaps
    Cannot disconnect:  File(s) changed but not saved.

Also, minor.  I have three files open.  The middle one has been changed.
![image](https://user-images.githubusercontent.com/67484051/109

[2021-02-26 21:38] SJLennon opened #51 "Severity Level in Problems"
After a compile I see something like this:
![image](https://user-images.githubusercontent.com/67484051/109357859-e59e3680-7850-11eb-828b-136f22a0504f.png)
Would it be possible to:
1) Add the severity level to the message
2) Filter which severity levels we want to see.
The filter icon does allow various severities, but doesn't seem to have any impact:
![image](https://user-images.githubusercontent.

[2021-02-26 22:07] worksofliam commented on #37
Thanks for your feedback!

1. Yes, looks like I need to update that text.
2. You can close the messages. They are just information and don't do anything whether they're open or not. E.g. you don't have to wait for them to close.
3. It looks like the connect should not happen unless the disconnect from the previous connection is successful. I can do that.
4. It's closing files left to right (it's a

[2021-02-26 22:57] worksofliam commented on #37
@SJLennon I have change the disconnect process in that:

* it will now close all saved files
* it will not let you connect to another system while you have unsaved files

This might solve the little things here and will be available in 0.1.2 later today.

[2021-02-26 23:00] worksofliam commented on #51
It looks like the filters do work for me:

![image](https://user-images.githubusercontent.com/3708366/109364289-6f073600-785c-11eb-8344-2772568cdcb5.png)

But I will put the severity in the message also.

[2021-02-26 23:01] worksofliam commented on #51
The severity will be displayed from 0.1.2

![image](https://user-images.githubusercontent.com/3708366/109364394-b55c9500-785c-11eb-913b-3a7e607b525f.png)

[2021-02-26 23:02] #51 closed

[2021-02-26 23:04] worksofliam commented on #42
I think we need to allow both ILE, QSH, and pase commands.

Perhaps the command could be something like this. It defaults to ILE commands:

* `CRTBNDRPG....` - library list will be applied
* `qsh:echo "Running through qsh"` - library list will be applied
* `pase:echo "Running through pase"` - library list will not be applied

[2021-02-26 23:16] worksofliam opened #52 "About the package.json file"
Is it me, or is the `package.json` file for extensions super ugly? I hate having to define my command in three places.

For example, `code-for-ibmi.connect` is defined in 3 places... seems kinda crazy.

[2021-02-27 03:51] SJLennon commented on #51
@worksofliam
Apologies. Filters do seem to work.  My mistake.

[2021-02-27 15:34] #40 closed

[2021-02-27 15:45] worksofliam commented on #43
Sorted added.

It is already possible to filter in vscode:
![image](https://user-images.githubusercontent.com/3708366/109392218-eaaec480-78e8-11eb-9f81-ced0e9db00b6.png)

[2021-02-27 15:45] #43 closed

[2021-02-27 16:11] worksofliam commented on #44
In 0.1.3 you will be able to F1 -> Change Directory

Or there is a little button to do the same thing
![image](https://user-images.githubusercontent.com/3708366/109392857-7e35c480-78ec-11eb-91b2-08b416018419.png)

[2021-02-27 16:11] #44 closed

[2021-02-27 16:30] richardschoen commented on #43
How does that work ?

[2021-02-27 16:59] worksofliam commented on #42
Available in 0.1.3

[2021-02-27 16:59] #42 closed

[2021-02-27 17:02] worksofliam commented on #37
I am gonna close this for now, but please open again if you have any more issues @SJLennon

[2021-02-27 17:02] #37 closed

[2021-02-27 20:50] worksofliam opened #53 "SQL tools"
Something similar to what this Postgres extension provides?

https://marketplace.visualstudio.com/items?itemName=ckolkman.vscode-postgres

Is it worth building this?

[2021-02-27 21:40] worksofliam opened #54 "Quick comments"
Being able to use Ctrl/Command + FORWARD_SLASH would be nice when editing RPG, CL, etc. I can easily do this one.

Might involve creating a command which looks at the activeEditor, etc.

[2021-02-27 22:29] worksofliam commented on #54
Okay, I went ahead and created the commenter but I don't think it's the right way to do it since it doesn't work with the usual `Cmd+/`.

I couldn't find in the docs where to implement it.. I guess it's tied to an LSP or language implementation?

[2021-02-27 22:43] barrettotte commented on #54
@worksofliam do you mind if I steal this one lol?

https://github.com/barrettotte/vscode-ibmi-languages/issues/67

[2021-02-27 22:48] worksofliam commented on #54
@barrettotte yes lol! Please let me know when you've got that deployed so I can remove the dumb functionality I added.

Thanks for your work there!

[2021-02-27 22:52] barrettotte commented on #54
@worksofliam Yeah I just happened upon that VS Code documentation page today while fixing another issue. I just have one last bug to fix and I should have everything pushed up here shortly. I'll at you when its ready

[2021-02-28 14:21] worksofliam commented on #54
@barrettotte I saw you made two releases, so I'm gonna remove my stuff in prep now.

Thanks!

[2021-02-28 15:18] barrettotte commented on #54
@worksofliam  ah yeah my bad, the notification might not have come through on a different issue I closed. It should be all set, thanks!

[2021-02-28 18:03] #54 closed

[2021-02-28 19:17] barrettotte commented on #53
For my typical workday, I've been using a tool like [JetBrains DataGrip](https://www.jetbrains.com/datagrip/) for DB2 for i and MSSQL. This would be a pretty cool feature, but I personally don't know a lot of people writing SQL in VS Code.
So, if this is decently high effort it might not be worth investing time into for a while.

This is just my initial take on it though, I'd be curious to see how

[2021-02-28 19:26] worksofliam commented on #53
Thanks for your input, @barrettotte.

[2021-02-28 21:02] worksofliam opened #57 "Diff between two sources"
This could be a really cool one. Providing the ability to do a different two souces.

Maybe a right-click option on members and streamfiles to select which files to compare?

https://stackoverflow.com/a/63197880/4763757

[2021-02-28 21:29] worksofliam commented on #53
If we were to build a tree view, here is where we get the data: https://www.ibm.com/support/knowledgecenter/en/ssw_ibm_i_72/db2/rbafzcatalogtbls.htm

[2021-02-28 21:54] barrettotte opened #58 "Any interest in spool file browser?"
I was thinking about casually exploring adding an additional browser for browsing spool files similar to the member, IFS, and object browsers this week after work when I found the time.

I would gather the tree items using [QSYS2.OUTPUT_QUEUE_ENTRIES](https://www.ibm.com/support/knowledgecenter/ssw_ibm_i_74/rzajq/rzajqviewoutqentries.htm).

Starting functionality would just be viewing and deleting

[2021-02-28 21:58] worksofliam commented on #58
I am all for it. Think it's an awesome idea.

Maybe in the future, it could be a context menu to 'export as PDF', which in turn would run that command and then download it to the local machine. Also just a thought!

[2021-02-28 23:12] worksofliam commented on #58
I should have mentioned, in the database browser I am building, there will be a `runSQL` method we can utilise.

[2021-03-01 00:45] worksofliam commented on #53
![image](https://user-images.githubusercontent.com/3708366/109439737-91848500-79fd-11eb-97cb-312362013aa8.png)

[2021-03-01 00:59] worksofliam commented on #53
![image](https://user-images.githubusercontent.com/3708366/109440215-68fd8a80-79ff-11eb-863f-95bbd60a2586.png)

[2021-03-01 01:09] worksofliam commented on #53
So I made a PR for all that's been done so far & there is a screenshot there of what it looks like. Next up is really getting the specifics down, so I won't release it until it at least has some functionality.

https://github.com/halcyon-tech/code-for-ibmi/pull/59

Would love to hear some ideas that could make the database browser useful.

[2021-03-01 14:15] SGI495 opened #60 "Library list per connection"
Hi,

Have you considered putting the library list setting on connection level instead of as a global setting (code-for-ibmi.libraryList)?

I have multiple servers I want to connect to, but they all have different library lists for compilation and not all libraries exist on all servers. This forces me to change the library list setting when I switch servers, since trying to set the library list wit

[2021-03-01 14:18] SGI495 commented on #58
Sounds like a nice add, but I think PDF could probably be optional. Isn't it easier to copy it to a text file and open in a new tab in code for quick viewing? And if you want to export it to PDF it could be a context menu option.

[2021-03-01 14:20] SGI495 commented on #57
I agree. Due to the way we work there's often a need to merge code from one source to another. A source comparison feature with merge actions would be really great to have.

[2021-03-01 14:20] worksofliam commented on #60
Have thought about it. We may or may not do that.. depends on the amount of work requires. Instead, I may add a way to import/export configurations so they're easy to swap out.

[2021-03-01 15:01] SGI495 commented on #60
Alright, thanks for the info. Are you accepting PRs if I'm able to have a go at it?

[2021-03-01 15:04] worksofliam commented on #60
@SGI495 We are totally accepting PRs! I am also happy to help you if you need a hand getting started.

[2021-03-01 18:21] mlstoppa commented on #32
@worksofliam Though I recognize the help of being able to know about any errors while saving the source member, I still stick to have an outline view populated with names (procedures, variables, arrays, ...).
As @barrettotte pointed out in a previous discussion LSP might be required.
I know very little if nothing at all about how to build a VSC extension, but I am available to help.

[2021-03-01 21:03] worksofliam commented on #58
@barrettotte FYI. `IBMiContent.runSQL` is now availabe.

https://github.com/halcyon-tech/code-for-ibmi/blob/master/src/api/IBMiContent.js#L126

[2021-03-01 21:43] worksofliam opened #61 "Make database results pretty"
We're using a webview with a very simple HTML table to render SQL resultsets.

![image](https://user-images.githubusercontent.com/3708366/109563021-3316df80-7aad-11eb-99da-43c5ce14ead1.png)

Wondering if anyone would be able to make the table prettier? I have no idea how we should do it, really!

[2021-03-02 02:10] worksofliam opened #62 "IFS git client"
Imagine gitlens but way less powerful that works for the IFS. Thoughts?

[2021-03-02 02:10] #62 closed

[2021-03-02 03:04] worksofliam commented on #57
![image](https://user-images.githubusercontent.com/3708366/109590446-03320100-7ada-11eb-86fe-f8bdf5e518ff.png)

Diff functionality added.

[2021-03-02 03:04] #57 closed

[2021-03-02 03:10] worksofliam opened #63 "Auto copy member to developer library"
Since we now have the comparison features in the extension, I am wondering if we should add some new functionality that

1. When they click on a member, it checks to see if they have a 'developer library' defined
2. It prompts the user if they'd first like to copy the member to their develop library and edit from there instead
3. If they say no, they will edit the source as normal. If they say yes

[2021-03-02 03:11] worksofliam commented on #63
Technically, they can do this already manually.

1. Copy the member to another library
2. Make changes in the other library
3. Compare the two files
4. Copy the file back to the original library.

[2021-03-02 03:33] worksofliam commented on #32
I thought I would share this here as an interesting project. It's for COBOL and has built-in language tools for that: https://github.com/spgennard/vscode_cobol

[2021-03-02 03:48] worksofliam opened #64 "Load Problems as you save"
It would be nice if the Problems window loading issues with your source when you saved (this is because we'd go back to the server to get us information).

In order to do this, we need to run compile commands with `OPTION(*EVENTF *NOGEN)`.

* `*EVENTF` generates the information/error listing
* `*NOGEN` stops the source from actually compiling

We'd need to add code to add these to the commands tha

[2021-03-02 08:50] Nope7 commented on #60
In my experience and my everyday work, this feature is a must.

I manage a group of 24 of environment and I often need to switch between each environment.

I think the best solution could be to introduce the ability to store library list PRESETS that should be choosen on a dropdown in the main view in order to switch easly from an environment to another...

Thanks in advance for your GREAT job!

(

[2021-03-02 09:29] Nope7 opened #65 "Different Library List for OBJECT BROWSER and DATABASE BROWSER"
As I wrote in the object, I think that the lists should be different:
- On the list used by the OBJECT BROWSER I should put the libraries in which I store my compiled programs
- On the list used by the DATABASE BROWSER I should put the libraries in which I store my tables and my datas

Is it correct or did I misunderstood how to use the extension?

Thanks in advance for your great job

[2021-03-02 13:32] worksofliam commented on #65
Right now, the object browser and database browser both use the library list for the library/schema list. This can change

[2021-03-02 13:38] worksofliam commented on #60
@SGI495 I am going to work on this. There will not be a different config per system, but instead a new view where you can select which configuration will use.

E.g. you will be able to store and use different configuation. Each configuration will hold:

* unique name
* unique library list
* home directory
* build library
* source ASP

[2021-03-02 16:12] SGI495 commented on #60
@worksofliam Alright, sounds good. I started looking at it yesterday but I didn't get much further than analysing how the current implementation was done. I would've probably gone down the path of adding those items (as well as CCSID used for the connection if you don't want UTF-8) to the code-for-ibmi.connections configuration object and populating the values from there when choosing a connection

[2021-03-02 16:32] SGI495 commented on #64
I like the idea of getting problems listed automatically, but I'm not sure about the meta annotations in the sources. Unfortunately don't really have a better solution at the moment. Perhaps it can be deduced from the source member type or similar.

Also consider that some users might have a lot of auto-saving going on since that's a basic VSCode feature.

[2021-03-02 16:50] worksofliam commented on #60
@SGI495 I went ahead and got the work done this morning. I will make a PR for you to review if you like?

[2021-03-02 17:11] SGI495 commented on #60
@worksofliam Ah cool, looks almost exactly like what I had imagined! I'll definitely take a look =)

[2021-03-02 17:15] worksofliam commented on #60
Awesome. Thank you for your input, btw @SGI495!

[2021-03-02 18:29] worksofliam commented on #65
I will separate those lists out after the changes for #60 has been fixed+merged. Thanks!

[2021-03-02 18:33] #7 closed

[2021-03-02 18:37] worksofliam opened #66 "Code for IBM i Welcome page"
Howdy all!

After seeing some of these messages on Midrange:

* https://archive.midrange.com/wdsci-l/202103/msg00005.html
* https://archive.midrange.com/wdsci-l/202103/msg00009.html
* https://archive.midrange.com/wdsci-l/202103/msg00002.html
* https://archive.midrange.com/wdsci-l/202103/msg00010.html

It makes me think that Code for IBM i needs a welcome page after the extension is installed, or c

[2021-03-02 19:18] SGI495 commented on #61
@worksofliam I started playing around with this a bit. Since it's just a web view it's possible to do pretty much anything supported by Chromium and CSS.

To begin I added some zebra striping and fonts based on VSCode editor settings and prevented line breaks in the table cells. There's more nuance required in the color settings to make it good, but at least it's a start I think.

<img width="417"

[2021-03-02 19:21] worksofliam commented on #61
This is awesome @SGI495! Great work. Can't wait this PR lol!

[2021-03-02 21:20] worksofliam commented on #60
That was a grossly large change, but it had to happen. As merged in #67, each connection (by hostname) will get it's own confuguration.

It is now out in 0.2.0

[2021-03-02 21:20] #60 closed

[2021-03-02 21:27] worksofliam commented on #65
Now that different connections get their own settings, this will be possible. Below is a list of changes required. I will get around to it eventually, but here is a list of what's required if someone else does. Thanks!

### Object Browser

* New connection property`objectLibraryList` for a list of libraries used by the Object Browser
* Object Browser needs buttons to add to that libraries list
* O

[2021-03-02 21:34] worksofliam opened #68 "Web view to edit connection settings"
I think it would be neat if we could add a webview with simple input boxes and lists that would let the user manage the current connection settings (`instead.getConfig()`).

This might make it nicer than having to keep editing the JSON file.

The user would click 'Save', pass the new values back to the app and the app would call `set` to update the config (or maybe we need a `setMany` too?)

[2021-03-02 21:35] worksofliam commented on #68
If anyone would be interested in building the UI for this, please let me know. I can do the actual forms and functionality, but the design won't be that good.

[2021-03-03 03:12] worksofliam commented on #68
![image](https://user-images.githubusercontent.com/3708366/109747028-6be5b000-7ba4-11eb-8cd7-425f0ddcbf38.png)

[2021-03-03 04:23] worksofliam commented on #68
Decided against the above. It had some external deps like formio, bootstrap and fontawesome.. which I don't really want to ship with the extension.

[2021-03-03 08:01] tools400 opened #69 "QSH not running from bash"
I receive the above mentioned error message, when I attempt to connect to our IBM i server. There is no further information about the error. So what can I do know? I already checked the server side and I noticed, that there is a SSH connection to my PC:

![image](https://user-images.githubusercontent.com/3110562/109772233-0aeac600-7bfe-11eb-8f37-73daee8b04c9.png)

Successfully connected as clearly

[2021-03-03 08:52] dariocs opened #70 "Adding Graphical Debugging Through ACS"
Hi everyone ,
What do you think if we add a graphical debug through the ACS?
If you already installed IBM Toolbox for Java on your server, both the jt400.jar and the tes.jar files are in the same directory on the server: /QIBM/ProdData/HTTP/Public/jt400/lib/
After copying the jar files to your client, add them to your client CLASSPATH environment variable.
To start Debug Manager from a command pro

[2021-03-03 13:07] worksofliam commented on #69
I doubt the object exists in a problem because we check for that too.

I will look to add a bit more information.

[2021-03-03 13:18] worksofliam commented on #69
@tools400 Just released 0.2.2 which should give you some more information in that error window :)

[2021-03-03 13:36] tools400 commented on #69
I assume, that you added the low level error message to the "Not connected" message, right? Not I get the following error message: Not connected to our.server.de! undefined

When I enter a wrong url, I get: Not connected to xour.server.de! getaddrinfo ENOTFOUND xour.server.de
For a wrong user/password it is: Not connected to our.server.de! All configured authe...

So the problem is still not obvio

[2021-03-03 13:43] worksofliam commented on #69
Huh!! That is interesting. Let me add something else...

Thanks,
Liam

On 3 Mar 2021, at 08:36, Thomas Raddatz <notifications@github.com> wrote:

﻿

I assume, that you added the low level error message to the "Not connected" message, right? Not I get the following error message: Not connected to our.server.de! undefined

When I enter a wrong url, I get: Not connected to xour.server.de! getaddrinfo

[2021-03-03 13:47] worksofliam commented on #69
@tools400 0.2.3 is out which might print another message. When you get it, give it another go.

[2021-03-03 13:50] worksofliam commented on #69
After a quick review, it looks like the issue might be this call:

https://github.com/halcyon-tech/code-for-ibmi/blob/master/src/api/IBMi.js#L60

[2021-03-03 17:14] SJLennon opened #71 "CPF3064: Library ILEDITOR not found - when adding new source file"
I'm on 0.2.3. The issue occurs after I add a new source file, then try to expand it.
![image](https://user-images.githubusercontent.com/67484051/109842933-91140600-7c18-11eb-9d63-917648336a27.png)

If I exit VSCODE and restart it, the problem is fixed and I can expand the source file.

**_Note also_** that while trying to document this issue I have managed to add QPRGLESRC several times.  This occ

[2021-03-03 17:27] worksofliam commented on #71
Hi @SJLennon

You are right in that the settings have changed. VS Code should be greying out the settings that are no longer in use. I can see here that in your `code-for-ibmi.connectionSettings`, both hosts have `ILEDITOR` in the `temporaryLibrary`.

I see before you had `lennons2` in your settings before, so you should change those to match the old one.

Hope that helps!

[2021-03-03 17:29] barrettotte commented on #71
@SJLennon I had the library not found issue for 'ILEDITOR' occur as well. For PUB400 at least, this host doesn't let users create libraries. If you change 'ILEDITOR' to your personal library (LENNONS1 ?) then it should resolve the error for PUB400 at least.

@worksofliam I may be wrong, but I think the extension tries to create the temporary library if not exists? The creation fails for PUB400 and

[2021-03-03 17:30] worksofliam commented on #71
@barrettotte

That is correct!

https://github.com/halcyon-tech/code-for-ibmi/blob/master/src/api/IBMi.js#L83

Perhaps if the library doesn't exist & couldn't be created, we should default it to their current library? (which we get when we get their library list.)

[2021-03-03 17:32] SJLennon commented on #64
Perhaps what you want is the equivalent of the "Verify" command in RDi.  This updates the error list (and refreshes the outline.)  I believe it runs the actual front end of the compiler which is portable code.  I don't expect IBM would make it available though, so you'd probably have to go and compile.

Thus I suggest implementing a "Verify" button or command, so that if there is the overhead of g

[2021-03-03 17:46] worksofliam commented on #68
Looks like this could be great for the design, but not sure how to handle the library list still. https://bendera.github.io/vscode-webview-elements/pages/getting-started/

[2021-03-03 18:05] SJLennon commented on #71
I figured I could change the setting.json.  However, I'm not sure why it works after I exit and restart VSCODE.  (I'm guessing that the temporary library isn't used all that often.)

PUB400.COM does not let you create libraries--for very good reasons.  I'm not sure it's a good idea to assume library create authority.  Nor to create a library automatically even if you can.  I think you need to at l

[2021-03-03 18:10] worksofliam commented on #71
@SJLennon You can override the `tempLibrary`.

This is from the config you pasted:

[code]

You need to change the `tempLibrary` there to be something else.

[2021-03-03 18:18] worksofliam commented on #70
I think it'd be awesome, @dariocs - perhaps a command to launch it would be awesome.

[2021-03-03 21:41] SJLennon commented on #71
I was adding them from the little button in the browser.  I believe the duplicates may have happened because I had settings.json open.  Opening settings.json from File/Preferences/Settings/Extensions seems to mark it as dirty, presumably the "new Object" line below.
![image](https://user-images.githubusercontent.com/67484051/109873288-8b7be780-7c3b-11eb-8288-f65eb8322b91.png)

 If you then click t

[2021-03-03 21:43] worksofliam commented on #71
@SJLennon thanks for the info. I may open another issue for that. I presume the issue with the temporary library is solved?

[2021-03-03 22:01] SJLennon commented on #71
No problem with solving the temporary library issue.
(I uninstalled the app kind of hoping it would remove it's items, cleaned up my settings.json manually when it didn't, re-installed and edited settings.json.  Good to go.)

[2021-03-03 22:06] #71 closed

[2021-03-03 22:33] worksofliam commented on #69
Any update here, @tools400?

[2021-03-03 23:21] worksofliam commented on #65
I did it! 0.2.4 includes this fix. Object browser and database browser now get their own settings instead of using the library list.

![image](https://user-images.githubusercontent.com/3708366/109885856-3c3eb280-7c4d-11eb-8ad1-5ed97b5dd998.png)

![image](https://user-images.githubusercontent.com/3708366/109885872-41036680-7c4d-11eb-83a4-e7f3090bd27d.png)

[2021-03-03 23:21] #65 closed

[2021-03-03 23:21] worksofliam commented on #61
Hey @SGI495! Wondering what the status is with this new look!

[2021-03-03 23:22] #52 closed

[2021-03-04 02:29] worksofliam commented on #68
Well I incorporated that frontend framework into the extension and made it easy for us to extend the UI. I only added two basic component types but it will be easy to add more!

https://github.com/halcyon-tech/code-for-ibmi/blob/master/docs/api/custom-ui.md

[2021-03-04 05:56] tools400 commented on #69
After updating to 0.2.5 the error message changed to "Not connected to our.server.de! bsh: 44771 Abort".

[2021-03-04 09:28] SGI495 commented on #61
@worksofliam Hey, I'm aiming to have a PR ready tonight!

[2021-03-04 13:32] worksofliam commented on #69
Well, it looks like an issue with your setup probably. Do you have a `.profile` or a `.bashrc`, or `.bash_profile`? Would you mind sharing if you do?

[2021-03-04 15:12] tools400 commented on #69
That is what I have: .bashrc and .profile:

[code]

[2021-03-04 15:17] worksofliam commented on #69
@tools400 I am afraid since I can't recreate this, it will have to come down to your debugging of the extension or perhaps some input who has any idea what `bsh: 44771 Abort` could indicate.

Could you run this from your base shell: `echo liblist | /QOpenSys/usr/bin/qsh`? Please share the result here.

[2021-03-04 15:41] tools400 commented on #69
This is the output of Git Bash:

[code]

And this is the output of STRQSH:

[code]

[2021-03-04 15:43] worksofliam commented on #69
Could you also try this from git bash?

[code]

Thanks

[2021-03-04 15:45] tools400 commented on #69
[code]

[2021-03-04 15:46] worksofliam commented on #69
Sorry

I meant `/QOpenSys/usr/bin/qsh -c liblist`!

[2021-03-04 15:48] worksofliam commented on #69
I think I see the problem. When you were running this command you were not getting any output, but when I run it on a few systems I have, I see the list:

[code]

[2021-03-04 15:58] tools400 commented on #69
The following command produces an output similar to 'liblist':

[code]

Is that worth a try?

[2021-03-04 16:11] tools400 commented on #69
You are correct. The following command (see above) does not produce any output, too:

[code]

[2021-03-04 16:14] tools400 commented on #69
Is it possible that somehow stdout is not connected when starting qsh?

[2021-03-04 16:21] tools400 commented on #69
The following sequence works, too. It makes me be believe that somehow stdout is not piped from qsh to bash:

[code]

[2021-03-04 16:23] worksofliam commented on #69
@tools400

1. What version of the OS are you on?
2. What's your `QCCSID`?
3. Are you using bash from yum?
4. What is your `$PATH`?
5. From bash, are you able to launch QSH (just by calling `/QOpenSys/usr/bin/qsh`) and run `liblist`? Does that return a different result?

[2021-03-04 17:18] tools400 commented on #69
1. OS 7.3
2. 273/1141
3. How to check that?
4. `/QOpenSys/pkgs/bin:/QOpenSys/usr/bin:/usr/ccs/bin:/QOpenSys/usr/bin/X11:/usr/sbin:.:/usr/bin`
5. No, `/QOpenSys/usr/bin/qsh` returns to bash without any output. It does not open a new shell, as one my expect.

Sorry, but I must close for today.

[2021-03-04 19:56] SGI495 commented on #61
@worksofliam There's the PR. I think it looks ok in most of the default themes, including the high contrast one. It's basically using VSCode theme variables where possible, so the view probably won't feel out of place at least. The selection color is a bit low contrast in two or three themes but I couldn't really find a better one. Although I'm sure a designer could do something much better with t

[2021-03-04 20:02] mdgozza opened #76 "Unable to open rpgle files from some locations (due to ASP)"
Firstly, thanks so much for your work on this extension, I am not native to as400 programming but this extension makes it a breeze to review code already written.

I am having difficulties opening files from some locations, they simply do not open. I took the liberty to run this extension locally and console.log the ssh commands to get an understanding of what exactly is failing and why:

Here is

[2021-03-04 20:09] worksofliam commented on #76
Hi @mdgozza!

My first question to you is: are you using an ASP on your system? Perhaps the libraries or source file is part of that ASP.

[2021-03-04 20:51] priceaj opened #77 "Add Checkbox to CustomUI"
I am trying to implement password saving for servers using the ExtensionContext.Secrets API.

I have this working, but I'd like to make this optional on the login form... but I can't work out how to add a checkbox to the UI.

I tried adding a vscode-checkbox to the CustomUI, and I can get it to render on the form, but it doesn't seem to be active, I cant check the box, or tab into it

Any ideas?

[2021-03-04 20:52] worksofliam commented on #77
Let me take a look and see if I can get it in for you: :+1:

[2021-03-04 20:58] worksofliam commented on #77
@priceaj Also should mention I am changing the `loadPage` API to return a promise...

[2021-03-04 21:13] priceaj commented on #77
That probably won't affect the changes I am making, basically I'm just storing the password using:

context.secrets.store(`${message.data.username}@${message.data.host}`, `${message.data.password}`);

When you are storing the connection profile in settings.

Then on loading it, it checks to see if there is a stored password, using

context.secrets.get(`${username}@${host}`)

If not it reverts back

[2021-03-04 21:20] mdgozza commented on #76
Honestly, I have no idea. I'm trying to figure that out now though and will report back.
Those files do show up inside the extension though, if that helps give any indication.

[2021-03-04 21:57] worksofliam commented on #76
When you fetch the member list, look for a property that contains `ASP`. All members in a file would have the same value.

[2021-03-04 22:55] worksofliam commented on #77
This is going to sound crazy, but I can't get either the checkbox OR the select box to behave correctly. This is a pain.

[2021-03-04 23:11] worksofliam commented on #77
@priceaj Well this sucks but I think I am going to hold off adding any more functionality from that framework. In fact, I'd like to replace it ASAP but my CSS knowledge is not good enough.

But I wanted to make you aware of this PR: https://github.com/halcyon-tech/code-for-ibmi/pull/75/files#diff-ea1b156b05428480e0b9b8c79b0fd64eb0e5e5a7204b40ccefd57c4d88a2a161R326

Turns out the vscode theme is ac

[2021-03-04 23:29] priceaj commented on #77
Okay, glad to know it wasn't just me!

[2021-03-05 02:17] #61 closed

[2021-03-05 04:22] worksofliam commented on #76
@mdgozza I just release 0.2.8 which might be able to help you a little bit. I have some questions for you

1. What version of the OS are you on? Are you able to run `SELECT * FROM QSYS2.ASP_INFO`?
2. Do you have yum installed? Are you able to install db2util?

If the answer is yes to both of these, the extension will automatically pick up what ASP the source file is in and that might solve your pr

[2021-03-05 04:52] mdgozza commented on #76
Thanks for getting back to me @worksofliam!

I was able to run that statement and did get back results.

| DEVICE\_DESCRIPTION\_NAME | ASP\_NUMBER | ASP\_STATE | ASP\_TYPE | RDB\_NAME |
| :--- | :--- | :--- | :--- | :--- |
| NULL | 1 | NONE | SYSTEM | S10B0706 |
| CF\_PRD\_33 | 33 | AVAILABLE | PRIMARY | S1070DAC |

Not positive of the version of the OS ( I'm looking into figuring that out ), and

[2021-03-05 05:01] worksofliam commented on #76
Hey @mdgozza!

Thanks for getting back to me also! Looks like you're on a newer version of IBM i if you can run that statement.

Also, when I said about yum.. I meant yum on IBM i. You can use yum on IBM i to install some open source tools, and db2util is available on there.

Also, it does look like some of your source lives on another ASP. I would recommend updating the extension to 0.2.8, instal

[2021-03-05 05:19] mdgozza commented on #76
I see,

It appears `yum` is not installed on IBM i. At least I don't see it as installed via a regular ssh shell. Installing yum via ACS didn't work out for me due to permissions.

I may need to reach out internally to see if I can install this tool on our IBM i. I may be stuck with this for a little while.

I suppose the utility you want installed in IBM i allows your vs code extension to query D

[2021-03-05 05:42] mdgozza commented on #76
Reviewing your commits, I noticed you added a configuration for ASP's.
https://github.com/halcyon-tech/code-for-ibmi/blob/master/package.json#L141

which field from the ASP_INFO table should I use, maybe I can hard-code this one for now until I get the utility installed.

[2021-03-05 09:03] NielsLiisberg opened #78 "Source change date are all set to zero"
Working on systems where the only source to history is the source change date - this could be potential catastrophic that the editor set all change dates  in each source member to zero when saving the member.

A solution I have used is to use "longest common subsequence" algoritme ( also used by git btw) to keep the original change dates.

https://gist.github.com/NielsLiisberg/7881bd320eb281b566da

[2021-03-05 09:38] priceaj commented on #77
I think it may be a problem with the copy of the framework you have in the repo, I installed it as a node module

npm i @bendera/vscode-webview-elements

then repointed the source (onDiskSrc) to the bundled.js file in

node_modules\@bendera\vscode-webview-elements\dist\

I then added checkbox as a valid type in customUI and added the code and element and the checkbox seems to work with that

Howev

[2021-03-05 12:30] priceaj commented on #77
I've implemented in https://github.com/priceaj/code-for-ibmi/tree/secure-password-storage but it's a bit hackey

[2021-03-05 13:06] worksofliam commented on #77
@priceaj this is awesome. The problem with the non module, which is what I used first, is that it also ships lots of little svgs. This bloats the extension size by a bunch and won't let you deploy because of it.

We might have to start looking at how to bundle (webpack) some of the extension to reduce file count.

[2021-03-05 13:07] worksofliam commented on #76
@mdgozza I believe you should use 'CF_PRD_33' in that setting in the meantime.

[2021-03-05 13:10] worksofliam commented on #78
@NielsLiisberg that would be awesome if you could have a go at implementing it.

It would be a nice to have but it's not something I have the time to take a look at right now.

[2021-03-05 13:44] worksofliam commented on #77
@priceaj You can see the this error from the deploy action:

[code]

https://github.com/halcyon-tech/code-for-ibmi/runs/2036959529?check_suite_focus=true#step:5:7

[2021-03-05 13:56] worksofliam commented on #77
You can even see it locally if you run the `package` command:

[code]

[2021-03-05 14:46] pabloto opened #79 "I can't open file in ifs browser"
HI,

I can't open stream file from ifs browser, I click on my files, but it doesn't happen nothing.

[2021-03-05 15:01] worksofliam commented on #79
Can you open the file from another editor? RDi? EDTF?

[2021-03-05 15:39] worksofliam commented on #77
Great news @priceaj - I got webpack working!! Looks like we can ship these large things after all :) I will be pushing this up later.

[code]

[2021-03-05 15:57] priceaj commented on #77
I'll get my change in when it's up then!

[2021-03-05 16:01] pabloto commented on #79
Yes, I can.
Before your wonderful extension I share my home directory with samba and then from visual studio code I edit my programs in my home directory without any problem.
The only thing I prefer with my "homemade method"  is that I have made from ssh a git init into my home directory (I have install git through yum) and so I can use git. But I have to copy my program from the source file to my

[2021-03-05 16:14] worksofliam commented on #79
The next best thing I can do is add some better error messages to the file system handlers to write some error messages if there are any.

When that's done, I will report back here and let you know. In the meantime, feel free to debug the extension yourself to figure it out.

[2021-03-05 16:32] mdgozza commented on #76
Hey @worksofliam

Looks like anything I specify in that property it is still unable to find that member. I've tried a couple of different things. What does that db2util check for when trying to pull a member, maybe I can try to run the same commands?

![image](https://user-images.githubusercontent.com/9098106/110144292-2abcee00-7da6-11eb-8e79-b5f274be36da.png)

| DEVICE\_DESCRIPTION\_NAME | ASP\_N

[2021-03-05 16:39] pabloto commented on #79
I have syslog active on my ibm I, and looking at this log I see:

Mar  5 17:37:27 MYSYSTEM auth|security:info sshd[7133]: Starting session: subsystem 'sftp' for paolos from 192.168.0.141 port 53565 id 1
Mar  5 17:37:27 MYSYSTEM auth|security:info sftp-server[8055]: session opened for local user paolos from [192.168.0.141]
Mar  5 17:37:27 MYSYSTEM auth|security:info sftp-server[8055]: open "/tmp/vs

[2021-03-05 16:40] worksofliam commented on #76
@worksofliam Hmm!!

Would you be able to run `DSPOBJD OBJ(WLIB/QRPGLESRC) OBJTYPE(*FILE)`, take option 5 on the file, and tell me what ASP information you see? Like below.

<img width="964" alt="Screen Shot 2021-03-05 at 11 38 00 AM" src="https://user-images.githubusercontent.com/3708366/110145379-5ab8c100-7da7-11eb-8c1a-42bbc0488f35.png">

Then, also run `wrklnk '/CF_PRD_33*'` and let me know wha

[2021-03-05 16:42] worksofliam commented on #79
I am afraid this doesn't help me much. It looks like it's opening a temporary file (there are lots of those) and then the connection is closing.

I will add some error messages within the next day and that might help us if you're not able to debug the extension.

[2021-03-05 16:44] pabloto commented on #79
How can I debug the extension?

[2021-03-05 16:46] worksofliam commented on #79
Check out these few steps:

https://github.com/halcyon-tech/code-for-ibmi#run-from-local

[2021-03-05 16:47] mdgozza commented on #76
Very cool, very interesting.

So I ran it and I can see that it's actually CF_DEV_33
![image](https://user-images.githubusercontent.com/9098106/110146406-88523a00-7da8-11eb-9958-9d10967af2ce.png)

I went ahead and changed it in the extension, but got a new error this time:
![image](https://user-images.githubusercontent.com/9098106/110146459-9b650a00-7da8-11eb-8b53-a11ffa710169.png)

[2021-03-05 16:49] pabloto commented on #79
Why you don't use sshfs for editing stream file?

[2021-03-05 16:52] mdgozza commented on #76
I didn't see your second question until now: I just ran WRKLNK for CF_DEV_33 ( instead of PRD that we saw from the query before )
and got this - looks like a directory
![image](https://user-images.githubusercontent.com/9098106/110147109-48d81d80-7da9-11eb-918c-c8bac453f178.png)

[2021-03-05 16:59] SJLennon commented on #43
@richardschoen I learned something new...
Filtering is in the VSCODE documentation.  Go [here](https://code.visualstudio.com/docs/getstarted/userinterface) and scroll down a bit to:

![image](https://user-images.githubusercontent.com/67484051/110147880-2b578380-7daa-11eb-8abd-00fe0e01bf15.png)

[2021-03-05 17:19] pabloto commented on #79
This can help?

<img width="1717" alt="Schermata 2021-03-05 alle 18 19 23" src="https://user-images.githubusercontent.com/9719313/110150255-54463b80-7ddf-11eb-9a71-fd0abea97616.png">

[2021-03-05 17:22] pabloto commented on #79
(node:95463) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

[2021-03-05 17:24] worksofliam commented on #79
You are still free to use SSH FS. We download a copy of the IFS to local machine, which is where you make your edits. I am afraid I am not getting much out of that screenshot. I will take a look a bit later on.

[2021-03-05 17:25] SJLennon opened #80 "DATABASE BROWSER: Sort alphabetically"
I don't consider this urgent.
This is my first experiment with the DATABASE BROWSER.
My list of files/tables doesn't have a discernible sort sequence.  It would be nice if it could be sorted alphabetically.

![image](https://user-images.githubusercontent.com/67484051/110150569-68714500-7dad-11eb-9758-9d9c97ff2fa0.png)

[2021-03-05 17:30] worksofliam commented on #76
Haha, that's good then! So that CF_DEV_33 is an ASP where to source lives. So now you know about ASP!

Now, about the 65525 thing - that's another annoying thing.

Can you run these and let me know?

* `dspsysval QCCSID`
* `dspfd WLIB/QRPGLESRC` and look for `Coded character set identifier` - 2 or 3 pages down.

Basically, if your source file is at 65535, then we can't convert it to UTF8 because 6

[2021-03-05 17:37] richardschoen commented on #43
Yep. Very nice isn't it.

[2021-03-05 18:13] pabloto commented on #79
I think I found the error in Instance.js when I try to open a stream file the variable path doesn't start with a / so instead of passing through row 182 it goes to 184.
In debug I correct path with the full path '/home/myuser/myfile.xxx and so it let me see the stream file.

<img width="2160" alt="Schermata 2021-03-05 alle 19 13 21" src="https://user-images.githubusercontent.com/9719313/110156113-

[2021-03-05 18:26] worksofliam commented on #79
@pabloto I think I found the issue. Basically if you're home directory is a `.` then it doesn't seem to open correctly.

I'll fix this up tonight. Thanks!

[2021-03-05 18:38] worksofliam commented on #79
@pabloto The work around is to correct your home directory (F1 -> IBM i: Change directory)

[2021-03-05 19:04] worksofliam commented on #77
@priceaj Pushed up within the hour, friend

[2021-03-05 19:41] worksofliam commented on #77
@priceaj Make sure to bring in the latest changes I put into master. That contains the stuff for webpack! You should be good to go :)

[2021-03-05 20:50] SJLennon opened #81 "IFS BROWSER - Show hidden files?"
Currently hidden files are not shown, for example, **.profile**.  Should they be shown?
Not a high priority; just mentioning it.
![image](https://user-images.githubusercontent.com/67484051/110171340-949abf00-7dc9-11eb-923d-612b47c78848.png)
![image](https://user-images.githubusercontent.com/67484051/110171955-7a151580-7dca-11eb-88bb-d104cd4e0cb6.png)

[2021-03-05 21:28] worksofliam commented on #81
Easy to do. I can take it :)

[2021-03-05 21:46] worksofliam commented on #79
@pabloto Did you solve it?

[2021-03-05 21:51] worksofliam commented on #81
Will be available in 0.2.10

[2021-03-05 21:51] #81 closed

[2021-03-05 21:56] worksofliam commented on #80
Added order by and will be available in 0.2.10

[2021-03-05 21:56] #80 closed

[2021-03-05 22:50] pabloto commented on #79
I Liam, I don't know, now it works without doing nothing... Have you change something?
Many thanks.
I'd like very much this extension!

Great work!

[2021-03-05 22:55] pabloto commented on #79
I see the change in the latest release!
Good night!

[2021-03-05 23:28] #79 closed

[2021-03-06 00:40] priceaj commented on #77
Created PR #82 to add the checkbox.

Not implemented the password saving yet, as I realised there is no easy way to change it at present e.g. if a password expires

I think we could do do with a better way of maintaining the connections as mentioned in #68, then we could add functions to delete and update passwords from connections on there

[2021-03-06 00:40] #77 closed

[2021-03-07 10:58] mdgozza commented on #76
It's crazy to me how much can be involved in working with IBM i!

QCCSID is:
![image](https://user-images.githubusercontent.com/9098106/110237214-a33bc000-7f08-11eb-9697-957df03b01ca.png)

Coded character set identifier:
![image](https://user-images.githubusercontent.com/9098106/110237399-e5b1cc80-7f09-11eb-8472-b7ef4a19e823.png)

Again, I really apperciate your help. I've learned so much from fol

[2021-03-07 11:26] mdgozza commented on #76
Something else I've noticed while debugging: in the pase command executing function:
https://github.com/halcyon-tech/code-for-ibmi/blob/f86bf7ac9b732cd45f6daeeb944ebc1fa566d210/src/api/IBMi.js#L215

it seems that it's not properly checking for result code because `code` always comes in as a nested property under `arg1` in my case

![image](https://user-images.githubusercontent.com/9098106/11023804

[2021-03-07 13:59] worksofliam commented on #76
Hi @mdgozza - that isn't great, but not a game stopper.

I need one more thing from you. Can you also run a `WRKJOB`, take option 2 (I think.. typing from my phone) and find the CCSID values there?

The real issue is that the CCSID of the source file is 65535. This means the encoding is unknown. That means whenever the source file has been edited by anyone, their editor is likely pretending the en

[2021-03-07 15:54] worksofliam commented on #76
@mdgozza I have added a new configuration setting for connections just for you 😄

1. Find the CCSID your job uses (e.g. `WRKJOB` -> option 2 -> scroll until you find info about your CCSID)
2. Update the extension to 0.3.0 (it should do this automatically)
3. Open up the settings for your connection
4. Add `sourceFileCCSID` as the key and the property will be whatever the CCSID you found is (as a s

[2021-03-07 20:46] worksofliam commented on #69
@tools400 I think I will close this issue (as it's not related to the extension), but for your question checking which bash you're using: where did you set your default shell?

[2021-03-07 20:46] #53 closed

[2021-03-07 20:47] #69 closed

[2021-03-07 20:47] #26 closed

[2021-03-07 20:54] worksofliam opened #84 "Crazy idea: Display File renderer?"
I wonder what people might think of a display file renderer in a webview? It's a crazy idea. Would it even be worth it?

Would love to hear some thoughts.

[2021-03-07 22:28] pabloto commented on #84
Hi Liam, I think this could be a good idea, many directors dislike IBM I for the green screen, If you invent some strategies to wrap the millions of display file to something more web friendly this could be great. But please something more efficient then Hats...

[2021-03-08 04:34] richardschoen commented on #39
Still keep running into this. It would be nice to be able to have multiple shortcuts to IFS folders just like we have with source files. Find myself changing directories a lot. Just adding another note :-)

[2021-03-08 04:40] richardschoen opened #85 "If SSH connection disconnects/times out, cannot re-connect unless I close all open files."
I cannot use the connect options if the SSH connection times out because I get an error that files are already open, so I am in a catch 22 situation.  Can't reconnect. And can't exit without losing changes to my open IFS files or members.

It would be nice to simply re-connect and then be able to save my open file members without having to copy/paste my in flight changes to another editor so I don

[2021-03-08 11:30] pabloto opened #86 "The connection tab is empty"
HI there's a problem with the connection tab, it's empty

<img width="1468" alt="Schermata 2021-03-08 alle 12 28 42" src="https://user-images.githubusercontent.com/9719313/110315790-09f4d280-800a-11eb-90c5-2d2914051c2d.png">

[2021-03-08 12:40] worksofliam commented on #86
What version of the extension are you on?

[2021-03-08 12:41] worksofliam commented on #86
Me too. Might be an issue with webpack.

[2021-03-08 13:29] worksofliam commented on #86
I would recommend downgrading to 0.2.8 for the time being.

Thanks

[2021-03-08 14:05] pabloto commented on #86
For me isn't a problem, connect to previous works, today I install the extension to a colleague and I edit the vscode setting by hand.

[2021-03-08 15:19] mdgozza commented on #76
Wooohoo @worksofliam !!! it totally works!

![image](https://user-images.githubusercontent.com/9098106/110340109-e3796c00-7ff6-11eb-8504-1d317e3ec65e.png)

for reference, it looks like there is a property "default coded character set identifier" maybe you can fallback to that if that is available as a property to you in some way if you find 65535.

This is so awesome!

If there is anyway that I ca

[2021-03-08 15:27] worksofliam commented on #86
@priceaj I just thought i'd let you know about this issue. I can't believe I didn't catch it - webpack issues.

Basically, the `path.join` doesn't work anymore because we bundle everything with webpack, and therefore the source is missing.

[2021-03-08 16:26] worksofliam commented on #86
@priceaj Yes, only after it's been packaged up. But nevermind, I've got it fixed and tested - will be releasing tonight.

[2021-03-08 16:48] priceaj commented on #86
Oh fair enough, well done on the quick turnaround then!

[2021-03-08 19:55] worksofliam opened #87 "RPGLE linter"
**Describe the solution you'd like**
I think it would be super nice to implement a basic linter for free-format RPGLE. Checking configurable rules and showing the hints in the editor.

**Describe alternatives you've considered**
I believe the only other alternative, other than some paid products, is to run the compiler with `*NOGEN` which takes time.

[2021-03-08 19:58] worksofliam commented on #87
Is this really part of the language tools? #32

[2021-03-08 21:52] worksofliam commented on #86
Please upgrade to 0.3.1. This issue has been resolved.
![image](https://user-images.githubusercontent.com/3708366/110386688-9b763b80-802e-11eb-9e68-e3d3714f1f7f.png)

[2021-03-08 21:52] #86 closed

[2021-03-08 22:15] worksofliam commented on #76
Hey @mdgozza no problem!

I would love to write the fallback, but I gotta figure out how to get that other CCSID first!

As for enhancements.. I am not sure! There is a lot I want to do myself and also don't know where to start 😆

Looking forward to hearing from you again :) Of course raise any issues if you have them.

[2021-03-08 22:16] #76 closed

[2021-03-08 22:19] worksofliam commented on #58
Hey @barrettotte

I'd like to have a go at this if you haven't started already. Do you have a branch I can work from or shall I start fresh?

[2021-03-08 22:23] barrettotte commented on #58
@worksofliam Ah yeah I haven't gotten around to starting on it, so definitely go ahead. I was a lot more optimistic on free time a week ago lol

[2021-03-09 01:10] SJLennon commented on #87
Is it a bit like #64?  There I advocated for a Verify command that ran the compiler.  Don't know the effort involved, but it seems to me that might be a quicker option and would automatically keep up with enhancements to the compiler.
@worksofliam

[2021-03-09 01:18] SJLennon opened #88 "Connecting with only one Connection"
This is **not** urgent, just might be a convenience.
If I have just one IBM i to connect to e.g.
![image](https://user-images.githubusercontent.com/67484051/110403352-f4ec6380-804a-11eb-8fd1-26911109595f.png)
Could it just jump immediately to the password prompt so I don't have to click the connection.
![image](https://user-images.githubusercontent.com/67484051/110403460-1c433080-804b-11eb-90f9-a1

[2021-03-09 01:48] worksofliam commented on #88
A nice to have idea for sure. I can work on this :)

[2021-03-09 02:30] SJLennon opened #90 "In Problems, make Filter settings sticky"
When I compile I get a result like this, because all three filter options (Errors, Warnings, Infos) are checked.
![image](https://user-images.githubusercontent.com/67484051/110408979-82808100-8054-11eb-92f8-92aa1ab385a2.png)

Virtually all the time I would be working with only Errors checked, rarely caring about warnings and infos.  And probably also Show Active File Only Checked.  It would be nic

[2021-03-09 02:57] SJLennon commented on #84
Am I right in assuming you are thinking of emulating the 5250 data stream?  If so, I'm not sure how it fits into this extension.  And I believe it might be quite challenging to do.  Personally, I'd rather see work on content assist (if that is even feasible and maintainable), or integrating a debugger.

[2021-03-09 03:09] worksofliam commented on #90
Sadly I think this is a vscode specific thing and not something that can be controller by an extension. I will close for now since there isn't much we can do about this I believe. :(

[2021-03-09 03:09] #90 closed

[2021-03-09 03:10] worksofliam commented on #87
No. It's to do some basic syntax checking on your source code (for example, indentation, like in the photo)

![image](https://user-images.githubusercontent.com/3708366/110412900-f6258c80-805a-11eb-8d70-09eb063f9871.png)

https://stackoverflow.com/a/8503586/4763757

[2021-03-09 15:26] SJLennon commented on #87
So stylistic errors mainly.  Indention checking would be nice.  Check for missing ; maybe, though could be tricky.  I think any type of END statement without a ; would qualify as a warning.

[2021-03-09 15:28] SJLennon commented on #90
I think I will put in an enhancement request to the VSCODE folk. They seem to have been doing some work on errors and filtering lately.
@worksofliam

[2021-03-09 15:39] pabloto opened #91 "Proposal instead of DSPFD"
Hi,

I have a source file with more then 12000 member, so when I open it from your extension it takes some minutes before doing list, why don't  you use sql to get this information:

I try the dspfd from command line and it take 3 minutes, while this sql take me a few seconds:

` With Listmember (Library, srcname, rowsize,  Json_member) As (
    Select trim(System_Table_Schema), trim(System_Table_

[2021-03-09 15:48] worksofliam commented on #91
@pabloto It will defo be possible, but only for those that have `db2util` installed. So maybe I could write the code to use this statement and fallback to the older way if required.

[2021-03-09 16:45] SJLennon commented on #90
Further, FWIW:
If I keep the folder with the JavaScript errors open, then connect to the IBM i and do a compile, the the filter settings are retained.

[2021-03-09 17:25] worksofliam commented on #91
@pabloto Looks like this might get us what we need:

[code]

Although it's missing two things:

* Record length
* ASP name or number

[2021-03-09 17:35] SJLennon opened #92 "Provide an OUTLINE View"
**Describe the solution you'd like**
VSCODE produces an OUTLINE view for various file types. e.g. JavaScript and HTML in my experience.
![image](https://user-images.githubusercontent.com/67484051/110512297-16912d80-80d3-11eb-8356-5c9888f20f86.png)

I think this might be an addition that many would like and find useful.  Priority would be free-form RPG.

**Describe alternatives you've considered**

[2021-03-09 17:40] worksofliam commented on #92
@SJLennon I am going to close this as a dupe, as would come under #32. I'd rather keep all comments in one place for this functionality, rather than multiple issues for the same thing.

[2021-03-09 17:40] #92 closed

[2021-03-09 17:42] worksofliam commented on #32
https://stackoverflow.com/a/59132169/4763757

[2021-03-09 17:52] pabloto commented on #91
avgrowsize contains record length, while the asp you can get it from sysschemas, in join

`With Listmember (Library, Srcname, Rowsize, Json_Member) As (
    Select Trim(System_Table_Schema), Trim(System_Table_Name), Trim(
             Char(Avgrowsize)), Json_Object(
             'memberName' Value System_Table_Member, 'type' Value Source_Type,
             'text' Value Partition_Text
           )

[2021-03-09 18:10] worksofliam commented on #91
Yup, it looks like

[code]

[2021-03-09 18:12] worksofliam commented on #91
Any idea why DSPFD is giving me an ID of `1`for the ASP but the SQL is giving me `0`?

![image](https://user-images.githubusercontent.com/3708366/110517552-ffedd500-80d8-11eb-99f3-47d94a2266f1.png)

![image](https://user-images.githubusercontent.com/3708366/110517653-20b62a80-80d9-11eb-83da-a8413f93be20.png)

[2021-03-09 18:22] worksofliam commented on #91
I just tested - it seems that 0 and 1 are the same in this instance. So... if the member ASP is `0` or `1` then it's in the base ASP.

Thanks @pabloto!

I will on this tonight.

[2021-03-09 18:48] pabloto commented on #91
Thanks to you

[2021-03-09 20:17] #91 closed

[2021-03-09 20:19] #87 closed

[2021-03-09 20:19] worksofliam commented on #84
@SJLennon Incorrect. It was actually just going to render the 5250 DDS so you can see it visually while editing it.

[2021-03-10 20:12] worksofliam commented on #32
Got this last night. This is by no means perfect, but it's a nice start. This is **not** using the language server.

![image](https://user-images.githubusercontent.com/3708366/110691350-0badca00-81b3-11eb-802a-a9a4d238448e.png)

[2021-03-10 21:20] worksofliam commented on #32
@barrettotte Check out `feature/rpglint` to see some of that progress. I am wondering if we should release it but have the functionality disabled by default.

[2021-03-10 21:25] priceaj commented on #84
RDi has this feature... so not so crazy!

[2021-03-10 21:30] worksofliam commented on #84
@priceaj I was thinking we could use something like [canvas](https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API) to build it? I've personally used [Konva](https://konvajs.org/) before, which is just a nice wrapper.

Have you any ideas?

[2021-03-10 21:38] priceaj commented on #84
The only canvas tool I know of is [paper.js](http://paperjs.org/), but it's not something I'm very familiar with

[2021-03-10 21:44] worksofliam commented on #84
@priceaj paper.js is awesome, but maybe too complex for a simple text and line renderer? Maybe one day if we want to make it do funny things it could be neat though.

[2021-03-11 00:47] #88 closed

[2021-03-11 15:28] getfoundational opened #98 "Manipulating Library List for Compiles"
Hello,

I am trying to find a solution to a challenge I have with our current coding environment.  We have code for many customers all stored in different libraries.  Each customer may have different files and such that are needed for their programs to compile.  As such, when working on a customers code, I normally just edit my library list to put their library near the top, make code changes, com

[2021-03-11 17:38] worksofliam commented on #98
Okay. Maybe we need to make the `&BUILDLIB` variable accessible via the member compile, that way you can easily change it AND use it in your compile commands.

We also need a way to switch between multiple library lists in a connection?

[2021-03-11 17:57] getfoundational commented on #98
Having the `&BUILDLIB` variable available sounds like a good option if it could then be changed and used in a way to manipulate the library list at compile time.

I wonder if having multiple library lists per connection could be linked to the member list so that you could assign a given library list you've defined to the member list so it's used in the compiles of anything in that member list?

Or

[2021-03-11 18:08] worksofliam commented on #98
@getfoundational I love the idea of using the build liv in both members and in the library list!

I might make a commanf to easy change the build library also: F1 -> Change build library

[2021-03-11 18:24] getfoundational commented on #98
Sounds great!  Thanks for taking this in to consideration.

[2021-03-11 21:49] worksofliam commented on #98
@getfoundational will be available in 0.3.5.

[2021-03-11 21:49] #98 closed

[2021-03-12 00:47] Carolla82 opened #100 "Can't connect to IBM i"
When I click on Connect to an IBM i, enter the IP, leave the default port at 22, and enter my user name and password, I get the following error:

'Not connected to n.n.n.n! connect ECONNREFUSED n.n.n.n:22'

where n.n.n.n is the IP of my IBM i. I have tried with both of my IBM systems,  from a PC that is able to connect using IBM i Access. I also tried using the DNS name, and the same error comes u

[2021-03-12 01:53] worksofliam commented on #100
@Carolla82 did you check the read me for the requirements? Did you check the SSH daemon is running?

[2021-03-12 02:40] Carolla82 commented on #100
@worksofliam Success. I skipped the readme. Thanks!!!

[2021-03-12 02:40] #100 closed

[2021-03-12 14:17] worksofliam opened #101 "Library list view"
How about the ability to see and re-order the library list from the Code for IBM i view?

VS Code does not provide an API to allow drag-n-drop of treeitems, so maybe there could be two buttons to move an library up and down - plus also buttons to add and remove.

What do we think?

[2021-03-12 14:59] pydefre opened #102 "add user login variable to action setup"
sometimes it may be necessary to have the login name to execute actions

[2021-03-12 15:05] pydefre opened #103 "Special rights on the user profile"
if the user does not have * ALLOBJ rights, it is impossible to display the source. For security reasons, are specific rights to be defined on the IFS or other parts?

[2021-03-12 15:11] worksofliam commented on #103
Is that right?

Check you have access to:

* the source member
* the `CPYTOSTMF` command
* the `/tmp` IFS directory

[2021-03-12 15:15] worksofliam commented on #102
I will add this tonight!

Just because I am curious, what is the use case here?

[2021-03-12 15:20] pydefre commented on #102
to use it with ALDON LMI exits, we need the user who maintains the source. To use it with ALDON LMI exits, we need the user who maintains the source, without having to develop a wrapper

[2021-03-12 15:22] pydefre commented on #103
thanks I check it.

[2021-03-12 15:49] pydefre opened #104 "Multiple setting per environment"
It might be a good idea to have a different configuration per environment for the library list, actions which may be different.

[2021-03-12 15:51] worksofliam commented on #104
Each connection gets its own library list. Actions are global right now. I don't really understand what you're requesting.

[2021-03-12 15:56] pydefre commented on #104
OK, sorry for my poor English. Connection setting is for "one partition" ?. on my DEV partition, i have different data and object environnement, multiple applications.

[2021-03-12 17:23] worksofliam commented on #103
Please reopen if you have further questions. Thanks!

[2021-03-12 17:23] #103 closed

[2021-03-12 17:44] SJLennon commented on #101
Most of my career I've had a basic environment where I set my development library list with a CL program and rarely changed it through the day.  However, from comments I've seen on midrange.com, there are people who are not so fortunate and have need to change the library list. So **support for managing the library list would be a good thing.**

**Idea:** How about the ability to store library lis

[2021-03-12 20:32] SJLennon opened #105 "Member Browser in 0.3.6 Broken?"
**Describe the bug**
Today I cannot see any members in the member browser. IFS, OBJECT and DATABASE all show objects.
![image](https://user-images.githubusercontent.com/67484051/110994026-2a909580-8346-11eb-8a71-fee2a0d9aba0.png)

When I click the "Refresh All Member Lists" I see the clock appear on the IBM icon, but no members show up, despite clicking and re-clicking the files.
![image](https://

[2021-03-12 20:49] worksofliam commented on #105
Recreated it....
![image](https://user-images.githubusercontent.com/3708366/110996792-747b7a80-834a-11eb-9c81-2e7c077f8419.png)

Looking into it.

[2021-03-12 20:54] worksofliam commented on #105
@SJLennon

Yes, it has something to do with pub400. I will get hold of them and ask them to upgrade `db2util`.

[code]

[2021-03-12 20:59] worksofliam commented on #105
I guess we will need a way to disable this!

[2021-03-12 21:13] SJLennon commented on #105
Maybe in Settings you need a generic "Options" feature that just allows ON or OFF for cases like this.

Sorry to bug you--nothing is simple and no good deed goes unpunished (fixing #91).  I think there is a possibility that PUB400 will have quite a few users.
@worksofliam

[2021-03-12 21:17] worksofliam commented on #105
@SJLennon no problem!! Thank you for bringing this to me. I will be releasing this fix very soon.

I have [asked Holger to update `db2util`](https://twitter.com/notesofbarry/status/1370479071747047427), in the meantime, I added `enableSQL` to the connection settings:

[code]

Will be releasing this within the hour.

[2021-03-12 21:21] worksofliam commented on #102
@pydefre will be available in 0.3.7:

[2021-03-12 21:22] worksofliam commented on #105
@SJLennon 0.3.7 is being deployed.

1. Add `"enableSQL": false` to your connection config
2. Connect to your system
3. Let me know how it goes

[2021-03-12 21:24] #102 closed

[2021-03-12 21:53] SJLennon commented on #105
Yep:  That fixed it.  Sterling work!
@worksofliam

[2021-03-12 21:56] worksofliam commented on #105
Lovely :)

[2021-03-12 21:56] #105 closed

[2021-03-13 11:13] pydefre commented on #102
Thanks Barry !

Envoyé de mon iPhone

[2021-03-13 17:05] #101 closed

[2021-03-13 19:46] worksofliam commented on #66
Since most lists are now editable in their own view, you can now edit the remaining settings in this new panel!

<img width="1565" alt="Screen Shot 2021-03-13 at 2 44 26 PM" src="https://user-images.githubusercontent.com/3708366/111042314-d6031e00-840a-11eb-8b95-247a2c9756cf.png">

[2021-03-13 20:01] #68 closed

[2021-03-13 20:02] worksofliam commented on #66
Connected wrong commit.

[2021-03-14 19:37] worksofliam commented on #85
We need to add some basic event handler to close all the open documents from the connection when it disconnects from an error.

[2021-03-14 20:00] worksofliam opened #106 "BIF snippets"
Much like CL, snippets for RPGLE built-in functions would be super neat.

(I believe someone is already working on this - I am just creating this issue to track it)

[2021-03-14 20:02] worksofliam opened #107 "Go to definition"
Much like other languages, when highlighting over a copybook in RPGLE it shows where it might be coming from.

It'd be super neat if we could implement go to definition, which would then open that copybook in another tab.

[2021-03-14 20:18] worksofliam opened #108 "Basic git client"
VSCode has a git client, but we need to extend it to support working on the remote server.

I propose the following features, that's assumes your remote home directory in the extension is a git repo:

* Commit browser
* History of a specific file
* Being able to do diffs between commits

Then in the the future:

* status on working tree (`git status`)
* some form of integration with source members

[2021-03-14 20:38] worksofliam commented on #108
Plan is to make this a different extension, but use the features implemented in #36 - so I'll implement that first.

[2021-03-14 21:15] richardschoen commented on #85
If you close all documents the dev will lose in flight edits.

They need to be able to reconnect without losing where they are at if possible.

[2021-03-14 21:19] richardschoen commented on #39
Still painful :)

[2021-03-15 13:32] worksofliam opened #109 "Procedure suggestions to use snippets"
This will allow the user to tab through paramaters

https://stackoverflow.com/a/55140140/4763757

[2021-03-15 13:57] Nope7 opened #110 "Member browser drag and drop"
It could be great to move source member from a source file to one another with a simple drag-and-drop in order easily organize members in each physical source file.

In a standard IBM i environement, you have to:
1. Copy the member from a source file to another
2. Delete the original member

....it could be easier ;)

[2021-03-15 14:11] worksofliam commented on #110
Visual Studio Code does not support drag and drop in TreeView components. It works with file system providers, but we aren't using that due to some performance issues with it and how often it talks to the remote server.

https://github.com/microsoft/vscode/issues/32592

[2021-03-15 14:11] #110 closed

[2021-03-15 19:06] AjaykulkarniIBMi opened #111 "How to edit source code within IASP?"
**Editing source code within IAAP**
What setup to do in VSCODE to enable editing source code within source file in IASP?

[2021-03-15 21:15] worksofliam commented on #111
You can edit the ASP in the additional settings after you have connected.

![image](https://user-images.githubusercontent.com/3708366/111222233-f0c3c700-85b1-11eb-8a54-dd064027a9c8.png)

[2021-03-15 21:15] #111 closed

[2021-03-15 22:11] worksofliam commented on #108
Available here and first versions published!

https://github.com/halcyon-tech/git-client-ibmi

[2021-03-15 23:10] #108 closed

[2021-03-15 23:10] #109 closed

[2021-03-18 19:08] dariocs commented on #70
HI SJLennon ,
I used setting break points on grafical debug and It works fine...
I ussually  run this comand to start the debugger:
java -cp  jt400.jar; tes.jar utilities.DebugMgr
Now I have done a PR that add it to the project .

[2021-03-24 16:51] SJLennon opened #118 "Log Compile Output - Find Where"
Possibly this my misunderstanding of VSCODE.
I have "Log Compile Output" set to true, but I can never find the compile listing. After a CRTBNDRPG the OUTPUT tab is empty.
![image](https://user-images.githubusercontent.com/67484051/112348858-9952e480-8c9e-11eb-9b6a-2e35f5dbf574.png)

**_Am I looking in the wrong place?_**

I'm on PUB400 and default on CRTBNDRPG is OUTPUT(*PRINT), so a spool file sh

[2021-03-24 17:14] worksofliam commented on #118
No problem! Click on the dropdown that says 'Tasks', and you should see 'IBM i Compile Output' or something like that!

[2021-03-24 17:56] robw7 opened #119 "Connections have unique names instead of using host/IP"
The Incorrect connection settings from the "code-for-ibmi.connectionSettings" array are used when multiple connections to the same Host System are defined in the “code-for-ibmi.connections" array.

The problem does not occur if the “CASE” of the host names is different.

Example
Problem occurs when connections are defined as 1) user1@pub400 and 2) user2@pub400.
But does not occur when connections

[2021-03-24 18:45] SJLennon commented on #118
Well Duh!  Never looked at OUTPUT before.  Learned something new today 😃
I'll try to update the documentation for others like me...

For now. here's a picture:
![image](https://user-images.githubusercontent.com/67484051/112366615-69600d00-8caf-11eb-8175-aecb405c3cbe.png)

[2021-03-24 21:52] SJLennon commented on #118
I put in a pull request for updated documentation.

Also, you should probably change this too.  Maybe to "**... OUTPUT tab, IBM i Output**".
![image](https://user-images.githubusercontent.com/67484051/112388205-31fe5a00-8cc9-11eb-94db-fc3e226d3f37.png)

[2021-03-25 02:01] SJLennon opened #121 "Object Browser: Run Action - Call program"
**Ruminating** on the usefulness of "Call program", since you can't see the results (at least I can't).

Call won't do anything for a green screen interactive job.  So it is limited to batch jobs, but how would you look at any printed output, or the job log?

I'm sure there are cases I haven't thought of where "Call program" is useful.  The case where I tried using it I wanted to see the spooled p

[2021-03-25 10:52] pydefre opened #122 "User authorities problem"
When I remove the  *ALLOBJ authorities on my profile keeping only :
*IOSYSCFG
*JOBCTL
*SAVSYS
*SERVICE
*SPLCTL

I do not see the source members, nothing in the /tmp directory.
However no problem with IFS Browser, Object Browser and DataBase Browser.

[2021-03-25 17:22] sprinkles opened #123 "VSCode constantly says "Initializing JS/TS language features" after opening a JS file in the IFS browser"
VSCode constantly says "Initializing JS/TS language features" after opening a JS file in the IFS browser. It never stops. This might be more of a VSCode problem that I should be reporting elsewhere, but I'm not sure. The files work fine if I make a copy of them locally. I'm just wondering if anyone has seen this issue.

I was using the SSH FS extension to connect to the files, but I thought I'd sw

[2021-03-25 19:58] SJLennon commented on #123
I see the same thing.

On Windows 10. It's not taking a lot of CPU time if Task Manager is to be believed.

If I try to run a simple program with node in VSCODE it says it can't find the program file.  I'm guessing that's because the file isn't in the file system as with most extensions.
![image](https://user-images.githubusercontent.com/67484051/112535210-62ee9580-8d82-11eb-87d4-8d8e2d5bfd5c.png)

[2021-03-25 20:33] worksofliam commented on #123
@sprinkles

Honestly, I am not quite sure. The languages tools, I assume, don't understand the new file system and therefore don't work with the remote server.

I personally wouldn't recommend writing JavaScript, or TypeScript, on the remote server (IBM i), and instead on the local machine - which is really what Code was meant for (unless you use the Microsoft SSH extension, which actually doesn't

[2021-03-25 20:39] worksofliam commented on #121
We have it set so `system` is printing to standard out and not a spool file. [See the command docs here](https://www.ibm.com/support/knowledgecenter/ssw_ibm_i_72/rzalf/rzalfpasesystem.htm).

Note that `system` only reads standard out - so `DSPLY` doesn't do anything. The C `printf` function will print to standout out, as will spool files. I hope that is a start to help!

[2021-03-25 20:40] worksofliam commented on #119
Yes, it might be a good idea. It's one of those things which I will need to sit down and actually do - since another change of the configuration could be breaking.

I will look into it, thanks!

[2021-03-25 20:47] worksofliam commented on #123
@sprinkles I just tested this on my mac.

1. I connect to a system
2. I open a `.js` file in the IFS
3. The 'Initializing JS/TS language features' text shows up for only a few seconds
4. I close the file, and open a different one, and it doesn't show.

I am on a Macbook.

[2021-03-25 20:52] #118 closed

[2021-03-25 20:57] #104 closed

[2021-03-25 23:39] ajmorsejr opened #124 "'db2util' not installed on system message in DATABASE BROWSER"
Hi,

Just installed code-for-ibmi and everything seems to work great, except not able to use DATABASE BROWSER because of 'db2util' not installed on system.

I didn't see this mentioned in the documentation as a prerequisite, but looking through some other tickets it appears db2util needs to be installed.

Is there a command or some library to look in to determine if that is installed?

[2021-03-27 16:54] SJLennon commented on #122
How about posting a screen shot of VSCODE showing the problem.

Also, show what you can see with WRKLNK that you can't see with VSCODE.
@pydefre

[2021-04-01 04:44] tb-mtg opened #125 "How to connect using V5R4"
When trying to make a connection we get exception:

Unfortunately our IBM I is is still on V5R4.

**Is it possible to connect using V5R4?**

[2021-04-02 16:35] SJLennon commented on #125
I don't see why it would have a problem with V5R4.
Were you trying with a Private Key?  If so, how about trying a password?
![image](https://user-images.githubusercontent.com/67484051/113434910-ce9eb700-93af-11eb-8286-92ec9ecb72bc.png)

[2021-04-02 19:30] SJLennon commented on #118
It seems like my compile listings are coming out double spaced, more or less.  Looks like each line number is duplicated and the second of the pair is blank.  Ring any bells?
![image](https://user-images.githubusercontent.com/67484051/113447463-eb46e900-93c7-11eb-832d-9c4923a5d2a0.png)
Code looks like this:
![image](https://user-images.githubusercontent.com/67484051/113447597-2fd28480-93c8-11eb-82

[2021-04-02 19:45] SJLennon commented on #118
Hmm.  Apparently I can't reopen this issue... But not urgent.
@worksofliam

[2021-04-06 13:16] worksofliam commented on #124
@ajmorsejr Hi!

`db2util` can be installed through yum on your IBM i.

[2021-04-06 13:16] #124 closed

[2021-04-06 13:17] worksofliam commented on #125
@tb-mtg I am highly doubtful this will work with 5.4. Make sure the SSH Daemon is started, and of course.. pase needs to be installed. My knowledge of 5.4 is lacking, but I think we only officially support 7.2 and above.

[2021-04-06 13:18] worksofliam commented on #118
@SJLennon Sounds like a line ending issue - you're on Windows, which I think uses CRLF by default.

You can change that. See this answer on SO: https://stackoverflow.com/a/39532890/4763757

[2021-04-06 23:30] tb-mtg commented on #125
Firstly thanks guys.

### **Some Background**

I understand that only version 7.2 & above is supported. One of the main reasons we wanted to use **[Code for IBM i](https://github.com/halcyon-tech/code-for-ibmi)** is to assist in modernizing our old code (RPG, etc..) to be able to upgrade to a newer version of iSeries (or IBM i) using modern alternative to SEU.

We also wanted to test moving our so

[2021-04-07 15:14] pydefre commented on #122
This is the wrklnk screenshot and the vscode source member not showing
![MicrosoftTeams-image (9)](https://user-images.githubusercontent.com/746599/113890063-20867900-97c4-11eb-93f8-521c24e7b5c1.png)
![MicrosoftTeams-image (10)](https://user-images.githubusercontent.com/746599/113890068-21b7a600-97c4-11eb-8c65-6f902b662923.png)
<img width="1014" alt="Capture d’écran 2021-04-07 à 17 10 40" src="htt

[2021-04-07 15:24] chrjorgensen opened #126 "Publish extension to open-vsx.org for VS Codium"
This extension is not available in the marketplace [open-vsx.org](https://open-vsx.org/) used by [VS Codium](https://github.com/VSCodium/vscodium).

Instructions are in place on how to publish an extension to both marketplaces and can be found on the [Open VSX Wiki](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions).

It would be nice for this free extension to be available to the tele

[2021-04-07 15:27] worksofliam commented on #126
Cool idea. I'll get around to it sometime. In the mean time, you can still download the vsx from the Marketplace.

[2021-04-07 16:47] SJLennon commented on #122
@pydefre Have a look at issue #105 and see if that helps.

[2021-04-07 16:49] SJLennon commented on #122
I have this in my settings:
![image](https://user-images.githubusercontent.com/67484051/113903966-89a7c580-979f-11eb-9db5-5548ebe9a5b1.png)
@pydefre

[2021-04-07 17:02] SJLennon commented on #125
@tb-mtg This is beyond my expertise, but to aid in further debugging, have you tried to connect using PuTTY?  Or perhaps SSH in Windows.

[2021-04-08 07:28] pydefre commented on #122
Thanks ! it works

[2021-04-08 07:28] #122 closed

[2021-04-10 07:52] pydefre opened #127 "Git client"
Hi,
How to setup my home directory to works with code for ibmi.
I'm new to git :)

Thanks for your help

[2021-04-10 15:08] worksofliam commented on #127
I don't really understand the question.

What are you trying to achieve with the extension?

[2021-04-10 17:15] pydefre commented on #127
Sorry,
I would like to use the git client ibm i extension with code for ibmi.
You say "It will assume that your home directory, set in Code for IBM i is also a git repository" so in my home directory /home/MyUser, I have created the ibmi_src.git directory and processed to a git init --bare --shared
after change my setting   "homeDirectory": "/home/MYUSER/ibmi_src.git/",
my source control view
<img

[2021-04-10 23:14] priceaj commented on #125
This looks like an error directly from the ssh2 which is used to connect, you could try connecting with SSH2 and see if you get the same issue.

You could knock up a quick test program to output a connection log. Something like this:

put it in it's own directory then in that directory run:

`node init` (leave everything at default)
`npm install ssh2`
`node test.js > out.log`

(I did this on a win

[2021-04-10 23:25] priceaj commented on #119
FYI I am working on a connections pane and have had to implement this in order to make it sensible, the commit is sat on top of the initial connection pane work, so is unfortunately not self contained, and can't be cherry picked

[2021-04-11 00:22] priceaj commented on #119
PR #128 Implemented this as a feature because I require it for another feature I am working on, so split out as per the 1 feature perr PR rule

[2021-04-13 14:55] SJLennon commented on #127
Note that I am not a Git expert and I have not used it for source control on the IBM i.  I know enough to have a Git repository on my PC and use GitHub Desktop (https://desktop.github.com/) to push code to Github.com.  Presently I manually move my IBM i source to my PC.

I have not seriously looked at the git-client-ibmi extension (https://github.com/halcyon-tech/git-client-ibmi) until now.  **It

[2021-04-13 18:55] SJLennon commented on #127
I played around with Git and got some results that may help move your forward.
1) I installed Git on the IBM i
2) I created a directory `/home/lennons/gittest`
3) Using PuTTY I connected to the IBM i
4) Did `cd gittest`
5) Then `git init my-repo` which gives `Initialized empty Git repository in /home/LENNONS/gittest/my-repo/.git/`
6) Went back to the green screen and copied a file called `States.s

[2021-04-14 05:54] pydefre commented on #127
Thanks to you @SJLennon. This is exactly what I do
<img width="483" alt="image" src="https://user-images.githubusercontent.com/746599/114660789-36c99300-9cf6-11eb-9159-76426338415e.png">

perhaps something is wrong in my ibmi conf or access rights, i will check this

[2021-04-14 14:07] SJLennon commented on #127
@pydefre In  your IFS browser, are you seeing the `.GIT` directory and all it's contents?  That would have been created when you did `GIT INIT` on the IBM i.
![image](https://user-images.githubusercontent.com/67484051/114723862-00e1da00-9d09-11eb-8a39-ca1a9d01e93b.png)

[2021-04-14 14:40] SJLennon commented on #127
@pydefre Another thought:  You said you did `git init --bare --shared` and the `bare` might be the issue.  I simply did `git init`.
On this [page](https://www.saintsjd.com/2011/01/what-is-a-bare-git-repository/) it says that bare repos have a different directory structure.  Possibly the extension is looking for a "non bare" directory structure.

Quoting from bottom of that same page:

But like I s

[2021-04-14 16:54] pydefre commented on #127
@SJLennon yes I see .git directory
<img width="301" alt="image" src="https://user-images.githubusercontent.com/746599/114744653-365ce680-9d4e-11eb-9983-db990796b301.png">
with your comment, I have used git init my-repo.

My new test with QP2TERM
<img width="847" alt="image" src="https://user-images.githubusercontent.com/746599/114745867-65278c80-9d4f-11eb-9960-5e3e51683388.png">
in my green screen

[2021-04-14 17:54] SJLennon commented on #127
Sorry, doesn't look like I can contribute further, but you have helped me learn more about Git.
Seems like it is something in the extension and I don't know enough about extension coding to check the code or try debugging it.
Could it be something to do with the CCSID on the repo?  Mine is 1208. Which is interesting, since my interactive 5250 session is 37 (USA), /home is 37, and I'm running on PU

[2021-04-14 20:40] NielsLiisberg commented on #78
I can wrap it in a stored procedure - if you like.

you can create the procedure on the fly with the ssh db2 command . This is what I am doing in my extension..

[2021-04-15 05:01] pydefre commented on #127
hi @SJLennon

My Streamfile CCSID is 819, 5250 session CCSID is 1147. I don't check PUB400.COM but I suppose your are on V7R4 and I believe pase is now in UTF8.
We are on V7R3.

<img width="857" alt="image" src="https://user-images.githubusercontent.com/746599/114815580-c33b8a80-9db6-11eb-9be9-52ebf1b49a41.png">

When I change my attribute directory and all branches to CCSID 1208, the problem is t

[2021-04-15 05:58] #127 closed

[2021-04-22 21:58] Atomic-Johnson opened #129 "Cannot load source member list. ERROR: Column or global variable PARTITION_TEXT not found. SQLSTATE=42703 SQLCODE=-206"
I have a source object loaded into the member browser and when I click the down arrow to expand it. I get this error: "Column or global variable PARTITION_TEXT not found. SQLSTATE=42703 SQLCODE=-206" and it just says ERROR where my source members should be.

I added "enableSQL":false to the connection settings and it still produces the same error but it loads my source members now and I can edit t

[2021-04-22 22:11] worksofliam commented on #129
Let me get that version of db2util installed and take a look.

[2021-04-24 14:45] SJLennon commented on #129
FWIW:  It looks like PARTITION_TEXT was added by PTF according to this page:
 https://www.ibm.com/support/pages/enhanced-qsys2syspartitionstat-catalog
Possibly worthwhile checking if the V7R2 PTF has been applied.
@Atomic-Johnson
@worksofliam

[2021-04-26 13:15] worksofliam commented on #129
@SJLennon Thanks for your help on this one.

@Atomic-Johnson By any chance did you check what he suggested? Thanks!

[2021-04-26 13:15] worksofliam commented on #123
Hey @sprinkles

What is the status here? Did you discover anything? I may close this, otherwise.

[2021-04-26 13:16] worksofliam commented on #78
@NielsLiisberg If you would be able to do that, that would be a start. I can likely take it from there.

Thanks!

[2021-04-26 13:16] #63 closed

[2021-04-26 13:18] #121 closed

[2021-04-26 13:19] #119 closed

[2021-05-05 11:13] poseva commented on #25
Any updates on this ?

Is there any chance to somehow use a dummy task that returns successfully so that the problems will be cleared ?

[2021-05-05 12:32] poseva commented on #25
I've found an workaround.
**Solution 1**
(drawback: the Problems pane gets appended with the errors/warnings of the current running task and gets cleared only at the end of task)
Assign to each task the same dummy owner:
[code]
When executing a task, the Problems pane will be appended with the errors/warnings of the current running task but when the task is completed the Problem pane gets cleared

[2021-05-09 03:29] sgonchigar opened #131 "iASP handling"
When the source library is located in iASP, it is not finding the source for editing.  I see the source member listed on the left side under "MEMBER BROWSER" but when double clicked, I get an error message CPFA0A9: Object not found. Object is /QSYS.lib/srclibrary.lib/QRPGLESRC.file/srcmember.mbr.

I think, it should look for in /iASP/QSYS.lib/srclibrary.lib/QRPGLESRC.file/srcmember.mbr.

OS is V7R

[2021-05-09 14:17] SJLennon commented on #131
@sgonchigar
There is a   `"sourceASP":` setting in the connection setting.  See link below--you may have to scroll.  If you have this set correctly, I'm afraid I cannot help further.  I don't have any experience with iASPs nor do I have access to one to test with.
You might want to post your settings.json file.
https://halcyon-tech.github.io/code-for-ibmi/#/?id=connection-settings

[2021-05-10 01:02] sgonchigar commented on #131
Thank you @SJLennon. I updated that setting and now I am getting CPFA0A7: Path name too long. CPFA097: Object not copied.
The IFS path is now correct but failed with above message.

[2021-05-10 02:24] SJLennon commented on #131
@sgonchigar
This is beyond my current expertise--I'm not up on VSCODE extension development.
You might look at closed issue #76 in case there is anything in there that would help resolve the problem.
Also in your initial post you seemed to be able to find the full text of CPFA0A9. It might be helpful to post the full text of CPFA0A7, i.e.  the &1 in the Cause below.
 Message . . . . :   Path name

[2021-05-10 02:45] sgonchigar commented on #131
Thank you so much @SJLennon. I went thru #76 and found that I had the iASP name incorrectly. After I updated to the right ASP name I was able to create a source member, edit and compile.  Very nice and helpful extension you guys have created.  Thank you!!!

[2021-05-10 02:45] #131 closed

[2021-05-12 14:30] worksofliam opened #132 "Do not show certain info messages"
Specifically `RNF5409` because they're useless

[2021-05-12 22:00] SJLennon commented on #132
Why RNF5409 specifically?
`RNF5409: The prototyped call returns a value which is lost when CALLP is used`.

Are you planning to (optionally) exclude all info message?

This is the one I see most:
`RNF7089: RPG provides Separate-Indicator area for file DISPLAY`.

These also come up.
[code]

Just curious 😃
@worksofliam

[2021-05-12 22:27] worksofliam commented on #132
@SJLennon maybe we need a way to define which notices to hide?

I am seeing it way too much when writing code!

What do you think?

[2021-05-13 14:45] SJLennon commented on #132
IMost of my career I've routinely ignored info and warning messages on RPG compiles. Once I'd found the filter in the Problems tab in VSCODE I set that to show just errors. This is the same approach I take with RDi.
![image](https://user-images.githubusercontent.com/67484051/118139746-ac984b80-b3d5-11eb-8257-3099e8f35f7f.png)

Granted, it's not perfect:

1. You have to reset it occasionally  but V

[2021-05-13 16:42] worksofliam commented on #132
And that works great for hiding issues in the problems tab, but I also want the blue lines to stop appearing under the severity 10 lines. Nonetheless, you have provided some great information.

[2021-05-14 01:35] SJLennon commented on #132
Glad to be of assistance...

Here's a suggestion:
Allow hiding by severity level, which should keep most people happy.  But then allow an exception list of message ids that are never hidden. This, I think, would be generally a short list.

@worksofliam

[2021-05-14 16:37] worksofliam commented on #132
@SJLennon I might work on _this_ this weekend.. will keep you posted!

[2021-05-14 16:39] worksofliam commented on #36
This is done! It just needs some technical docs now.

[2021-05-14 16:41] #84 closed

[2021-05-14 16:41] #123 closed

[2021-05-14 16:41] #125 closed

[2021-05-14 16:41] #129 closed

[2021-05-14 16:43] worksofliam opened #133 "UI to edit/maintain actions"
**Is your feature request related to a problem? Please describe.**

No problem as such, but I do find it might be nicer to have some UI to create new actions instead of having to edit the JSON.

**Describe the solution you'd like**

New UI for:

* Viewing existing actions
* Editing existing actions
* Creating a brand new action

[2021-05-14 16:43] #107 closed

[2021-05-14 16:44] worksofliam commented on #47
Our new UI tools might be able to do this.

[2021-05-14 23:29] Atomic-Johnson commented on #129
Sorry for the late reply, final exams ate my life a little bit. based on running WRKPTFGRP SF99702  and getting "(No PTF groups found.)" I would say we don't have the PTF that adds that field. However, I updated to v0.4.2 of Code for IBM i and everything works now. Thanks for all of your hard work on this extension!

[2021-05-15 00:21] chrjorgensen opened #134 "Add license to package.json"
**Is your feature request related to a problem? Please describe.**
It is not possible currently to add this extension to [Open VSX](https://github.com/open-vsx/publish-extensions), since there are no license info in the package.json file.

**Describe the solution you'd like**
Please add the license to the package.json file:
[code]

**Additional context**
When the license is in place, this extensio

[2021-05-15 03:42] worksofliam commented on #134
Will pick this up in the morning.

I have a ton of stuff I want to work on in the coming week and this should be one of them.

[2021-05-16 19:08] SJLennon commented on #133
I think this is a great idea.  It's a bit easy to mess up settings.json.

I'd suggest that you have the option to copy an action to a new name, to make it easier to extend an existing action.
@worksofliam

[2021-05-16 19:19] worksofliam commented on #133
This is where I am at so far:

![image](https://user-images.githubusercontent.com/3708366/118409745-f98c5400-b659-11eb-8b0c-1858f3c30132.png)

![image](https://user-images.githubusercontent.com/3708366/118409766-132d9b80-b65a-11eb-9a0b-8eeef525294a.png)

[2021-05-16 19:35] SJLennon commented on #133
Looks promising.  Any issue with duplicate names?
Any possibility of sorting the work with actions list alphabetically?  (I googled "javascript sort json" and it came up with some code but I didn't dig into it.  I don't think unsorted is a killer, but as someone once said "Nothing is impossible if you don't have to code it  yourself."
@worksofliam

[2021-05-16 19:37] worksofliam commented on #133
@SJLennon

Sort is a nice idea. Alphabetical is a nice idea. I'll do that

[2021-05-16 19:41] worksofliam commented on #133
Much nicer!

![image](https://user-images.githubusercontent.com/3708366/118410379-25f59f80-b65d-11eb-9c6f-d325c240dce1.png)

[2021-05-16 19:43] #134 closed

[2021-05-16 19:56] #25 closed

[2021-05-16 20:21] worksofliam opened #138 "Search members and IFS functionality"
**Is your feature request related to a problem? Please describe.**

VS Code has the ability to search for strings in sources. It'd be cool if we could somehow add the ability to search the IFS and source members.

**Describe the solution you'd like**

Perhaps some of the UI functionality we have might be able to help us out here.

**Additional context**

* Since there is no way to have FNDSTRPDM t

[2021-05-16 20:58] worksofliam commented on #133
Can't get the icons to work without Codicons, but I want this feature. For now, we'll ship without the icons.

[2021-05-16 20:58] #133 closed

[2021-05-16 21:35] #132 closed

[2021-05-21 11:38] NielsLiisberg commented on #78
Yes I know - me too:)

However, I am quite busy at the moment, but hopefully have some time in the
near future. The code is here if anyone is in a hurry, but I haven't had
time to implement it:

https://gist.github.com/NielsLiisberg/7881bd320eb281b566dab44c7ceeb50e

On Thu, May 20, 2021 at 5:59 PM danlong005 ***@***.***> wrote:

[2021-05-23 17:59] priceaj commented on #138
The iSphere extension provides a very efficient search function to RDi... could this be leveraged?

https://sourceforge.net/p/isphere/code/HEAD/tree/branches/v_3.5.4_v6r1/host/iSphere/QRPGLESRC/

Look at FNDSTR and W001* programs

[2021-05-23 18:18] worksofliam commented on #138
@priceaj Yes, that could be one way to do it.

Looks like those programs are using some system APIs to initiate the search functionality.

I'd have to look into writing our own versions of those (we might run into some licensing issues if we used those sources).. so I will need to investigate.

I'd still have to figure out if that will be quicker than using the method I had before.

(which is read

[2021-05-25 02:57] worksofliam commented on #78
Had some thought about this today and I think we'll be able to implement source dates using a CustomTextEditor in the vscode API.

Need to write a proof of concept for it but I think it might work out.

[2021-05-26 23:07] worksofliam commented on #78
We have something in the works related to source dates coming soon. I am going to close this for the time being. For the record, we have source date support working in a prototype.

[2021-05-26 23:08] #78 closed

[2021-05-27 05:19] #66 closed

[2021-05-27 05:20] #36 closed

[2021-05-27 20:28] worksofliam opened #143 "New action variables needed"
## All

* `&EXTL` will be the lowercase of the extension
* `&HOME` which is the current working directory in the extension

## Members & objects

* `&NAME` to be lowercase for members.

## IFS

* `&NAME` needs to match the case in the IFS. (impossible since URI is always uppercase)
* `&EXT` needs to match the case in IFS. (impossible since URI is always uppercase)
* `&BASENAME` needs to be the nam

[2021-05-28 14:58] worksofliam opened #144 "Command window to support dropdown"
You can use 'command fields' to prompt user input, which is only good for text boxes.

Now that `CustomUI` has support for select boxes, I'd like to add the ability to allow select boxes too.

[code]

[2021-05-28 16:24] SJLennon commented on #138
FWIW:  The iSphere RDi extension is written in Java.  It is an extremely useful addition to RDi.  Recently Thomas Raddatz has been making it less dependent on RDi functions at the request of the MiWorkplace folk, who want to integrate it with their product, which I believe is also Java and Eclipse based.

[2021-05-28 16:26] worksofliam commented on #138
@SJLennon Good to know! Thanks for sharing.

I am actually planning on working on _this_ this weekend. Should be fun!

[2021-05-28 16:48] SJLennon commented on #138
Thomas likely would be willing to share what approach he used.  His search is much faster than the RDi native search.  He might be using FNDSTRPDM under the covers and just have a better interface to it.

[2021-05-28 17:04] worksofliam commented on #138
My initial plan is to port over the stuff from ILEditor 2. PRs and improvements will be much welcome from there.

[2021-05-29 01:42] worksofliam commented on #78
Please see this discussion regarding source dates. Thanks! https://github.com/halcyon-tech/code-for-ibmi/discussions/145

[2021-05-29 03:06] #143 closed

[2021-05-29 03:14] worksofliam commented on #144
This is awesome!
![image](https://user-images.githubusercontent.com/3708366/120056468-6a445080-c00a-11eb-8e50-835a575787f7.png)

[2021-05-29 03:17] #144 closed

[2021-05-29 14:32] szsascha opened #146 "Improved implementation of the library list"
Today I've tried code for ibmi the first time. Thank you for creating this great project!

At the beginning I was a bit confused by the implementation of the library list. I think with a few improvements the implementation of the libraries can be made a bit more intuitive and easier.

- Loading of the entire library list after login

Currently only the user part of the library list is loaded after

[2021-05-29 14:39] worksofliam commented on #146
@szsascha

These are some awesome suggestions. I am working on the search functionality today, but I will look into some of this for you.

We actually had this way back when we started to develop this extension. The issue here is when there are thousands of objects and also thousands of source members. It wasn't pretty, hard to navigate, and even had some performance issues at times. It will have

[2021-05-29 15:03] szsascha commented on #146
@worksofliam

Thanks for your quick reply!

Are there any other possibilities? Maybe you could install some kind of agent on the IBM i. I don't know if that solves this problem, but it might open up new possibilities elsewhere. Just an idea that came to me randomly.

Yes. exactly. But I guess this will also lead to performance issues?

[2021-05-29 15:18] worksofliam commented on #138
IFS search:
![image](https://user-images.githubusercontent.com/3708366/120075510-9b0aa100-c06f-11eb-95e0-5a7549015c67.png)

[2021-05-29 15:19] worksofliam commented on #138
Member search:
![image](https://user-images.githubusercontent.com/3708366/120075536-b1186180-c06f-11eb-89bc-e44b672fae2f.png)

[2021-05-29 17:26] #146 closed

[2021-05-31 14:25] worksofliam opened #151 "Use runSQL where available"
I think in cases where `db2util` is available, we should be using that instead of generating this:

https://github.com/halcyon-tech/code-for-ibmi/blob/6809b70fe2123efd37976bd96f4893daca9cf1d8/src/api/IBMiContent.js#L166

[2021-05-31 19:34] szsascha opened #152 "Implementation of a server manager"
**Is your feature request related to a problem? Please describe.**
At the moment you're only able to connect with your previous IBM i session. But there are environments where you need to switch between multiple IBM i servers.

**Describe the solution you'd like**
I think a simple server manager like the one from the software called "FileZilla" (but far more simple) should be easy to implement. I

[2021-05-31 20:05] worksofliam commented on #152
This is a good idea!

Right now the only way to edit an existing connection is to edit the JSON manually, but this something that our CustomUI could do nicely.

Maybe I will even take a stab at it.

[2021-06-01 03:22] worksofliam commented on #45
I'd class this as implemented.

[2021-06-01 03:22] #45 closed

[2021-06-01 16:49] szsascha commented on #39
The ifs browser works actually like a "normal" sftp client. I think the possibility of manually adding folders could lead to confusion.

By default you start in the directory configured in your USRPRF. (Maybe there should be a possibility to set it in a servermanager? #152 )
You can change the directory with the first directory button of the ifs browser.

Maybe it would solve your problem when you

[2021-06-01 16:52] szsascha commented on #152
Just an idea: Maybe it would be nice to be able define some more custom settings in the servermanager (i.e. library list, default ifs directory, etc.)

[2021-06-03 16:57] eduardomarco opened #155 "When enable db2util missing show members of lib/file"
**Describe the bug**
(A clear and concise description of what the bug is. We will not accept your bug and close it if this is not filled out correctly.)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IBM i'
2. Click on 'Member Browser'
3. Scroll down to 'lib/file'
4. Don´t show members

**Expected behavior**
Show members on lib/file

**Screenshots**
![image](https://user-images.githu

[2021-06-03 17:11] worksofliam commented on #155
Do you get any error messages?

Are you able to run this statement in Run SQL Scripts as the same user you're connecting with?

[code]

[2021-06-03 18:22] eduardomarco commented on #155
SELECT ( avgrowsize - 12 ) AS MBMXRL,
       iasp_number         AS MBASP,
       system_table_member AS MBNAME,
       source_type         AS MBSEU2,
       partition_text      AS MBMTXT
FROM   qsys2.syspartitionstat,
       qsys2.sysschemas
WHERE  table_schema = '${EAMARCO}'
       AND table_name = '${CONTAS}'
       AND schema_name = system_table_schema

Don´t show records.

[2021-06-03 18:28] worksofliam commented on #155
You need to try without the curly brackets. E.g.

[code]

[2021-06-03 18:30] eduardomarco commented on #155
SELECT ( avgrowsize - 12 ) AS MBMXRL,
       iasp_number         AS MBASP,
       system_table_member AS MBNAME,
       source_type         AS MBSEU2,
       partition_text      AS MBMTXT
FROM   qsys2.syspartitionstat,
       qsys2.sysschemas
WHERE  table_schema = 'EAMARCO'
       AND table_name = 'qrpglesrc'
       AND schema_name = system_table_schema

Don´t show records.

[2021-06-03 18:34] eduardomarco commented on #155
S![image](https://user-images.githubusercontent.com/26776921/120694906-1958b000-c481-11eb-83d9-bc61ed1d9a68.png)

[2021-06-03 19:11] worksofliam commented on #155
@eduardomarco What version of db2util are you using?

[2021-06-03 19:16] eduardomarco commented on #155
db2util 1.0.11-dev

[2021-06-03 19:24] worksofliam commented on #155
@eduardomarco Does `QSYSINC/H` open? Or do they both show nothing?

The work around is to disable SQL from the client.

[2021-06-03 19:28] eduardomarco commented on #155
![image](https://user-images.githubusercontent.com/26776921/120700940-ab17eb80-c488-11eb-9eee-fffcaf268aaa.png)

Both of them

[2021-06-03 19:43] worksofliam commented on #155
I don't have a lot of time to look into this issue right now. Weird that you can execute the statement through Run SQL Scripts but not through db2util.

My recommendation, for the time being, is to disable SQL in the settings.

[2021-06-03 19:44] eduardomarco commented on #155
I made that, Thanks

[2021-06-03 19:53] worksofliam commented on #155
From an ssh shell, you could run this and see what happens:

[code]

[2021-06-03 20:05] worksofliam opened #156 "Output channel for pase commands"
It might be useful for debugging user issues to add an output channel for all things that go through the `paseCommand` method.

[2021-06-03 20:37] szsascha commented on #155
I've found it. Was a little night challenge before sleep :D

You can get behind the problem with the following steps:
1. run it in ssh, qshell and strsql on i. You will see that it's this only occurs in qsh environment
2. check file description of qsys2.sysschemas with `WRKF` and 8
3. copy `SQL view create statement` and run it in strsql and qsh. You see again that it's only working in strsql
4. I

[2021-06-04 00:48] worksofliam commented on #155
@szsascha I am curious to see what you share! Thanks for that information!!

[2021-06-04 16:40] SJLennon commented on #155
@worksofliam @szsascha
FWIW:  I'm using pub400.com and it has db2util 1.0.11-dev.  I have the same problem.  If "enableSQL": false then you get no Database Browser;  It true, you get no Member Browser.  This is came up in #105.

(I know you asked for it to be updated on pub400 and Holger said he did.  Not sure where he got the -dev version but it doesn't work.  I asked on the pub400 user forums to

[2021-06-04 16:42] #156 closed

[2021-06-04 16:42] worksofliam commented on #155
For the record, I have the -dev version and it works on the system I use.

[2021-06-04 17:02] SJLennon commented on #155
Curious indeed 😦 .  Maybe it's an obscure language/CCSID issue.  Do you have a pub400 account you could try?
Again, it's not urgent for me.
@worksofliam

[2021-06-04 17:22] szsascha commented on #155
A little update from my side:

My plan was to extract the SQLs from the QSYS2.SYSPARTITIONSTAT and QSYS2.SYSSCHEMAS views's and implement them as an WITH clause into the SQL but with the bugs fixed. But there are 2 things why this dosn't work:
1. The SQL would get too large so it's difficult to read
2. I get some permission problems with SYSPARTITIONSTAT's SQL

Now I asked myself the question how

[2021-06-04 17:25] worksofliam commented on #155
@szsascha the reason we are using db2util is because it's a quick and portable way of running SQL.

While I do agree it is largely not great, it is the easiest way of running statements with the type of connection we have and get back the result set as JSON.

I'd ideally like to figure out why this is happening instead of changing the db2util dependant.

[2021-06-04 18:08] szsascha commented on #155
@worksofliam
At the moment I see 2 options to get it running:
1. We wait (and hope) that IBM will fix it soon. But I think it's more a problem of the QSH/AIX environment and not db2util specific.
2. We try to create a workaround to ensure compatibility

In my opinion the second option would be the best.

I understand that you want to use the easy way with db2util. But I also think that now isn't t

[2021-06-04 18:12] szsascha opened #160 "Graphical debugger"
Are some sort of VS Code integrated graphical debugger planned? Maybe in the pro version?

[2021-06-04 18:41] worksofliam commented on #155
Number 2 is the better option for sure. This is definitely a fixable problem.. we just have to figure out how to recreate it (I need to sign in to pub400).

The reason I am avoiding writing my own SQL tools is because I don't have the time to maintain it.

Code for IBM i is already large... and using something else for the SQL has made it simpler for me (and every contributor)

[2021-06-04 18:49] szsascha commented on #155
Any chances to use the old fashioned DSPFD way?

[2021-06-04 18:52] worksofliam commented on #160
Yes. It will be open source. I am currently waiting on IBM to share some of the host debug server APIs so we can implement remote debugging.

No idea when that will be. Been wanting it for years.

[2021-06-04 18:53] worksofliam commented on #155
We already do that when SQL is disabled.

[2021-06-04 18:55] worksofliam commented on #155
Also: please see issue #91. That is why we use SQL here when it is enabled.

[2021-06-04 19:50] szsascha commented on #160
Are there any serious plans from IBM to make this public? Today I've been messing around with the graphical debugger from i Access and Wireshark. I think it should be also possible without public informations.

[2021-06-04 20:34] worksofliam commented on #160
I thought about reverse engineering it also, but I only have so much time in the day.

I think if you did that you should document as much as possible. I'd love to share all that information as we learn about it.

IBM are not likely going to release anything anytime soon. I just asked 3 days ago if they could share anything and they were not able to.

[2021-06-05 14:58] szsascha commented on #160
Today I've done some more research on the debugging server. I was definitely able to achieve some good results.

But now I'm at a point where I can't get further without cracking the authentication algorithms. This is not a problem, because there are jar files with unobfuscated Java classes from IBM in which the algorithms can be found (for example tes.jar).

Unfortunately, I'm pretty sure we'll r

[2021-06-05 15:07] worksofliam commented on #160
That is understandable. I will keep poking the people at IBM regularly to see if they can help us.

Also, I believe the auth is similar to how it works for JDBC. See here: https://github.com/worksofliam/node-db2fori/blob/893639aee70f85d81d519833abc6fe6850a5d442/lib/driver/Connection.js#L44

[2021-06-05 15:07] worksofliam commented on #160
That is understandable. I will keep poking the people at IBM regularly to see if they can help us.

Also, I believe the auth is similar to how it works for JDBC. See here: https://github.com/worksofliam/node-db2fori/blob/893639aee70f85d81d519833abc6fe6850a5d442/lib/driver/Connection.js#L44

[2021-06-05 15:23] szsascha commented on #160
I thought the same and was too optimistic :D

In simple terms, I've understood that you have to send a "Hello" message with your username and a id generated by yourself. You'll get a response with a id generated by the server and a sort of "authentication type". Now you have to generate and salt your password with all informations, depending on the authentication type. So there are countless possi

[2021-06-05 17:24] szsascha opened #161 "Connect to another server"
Is there a chance to disconnect from the current server and connect to another server without starting a new session of VS Code?

[2021-06-05 19:48] worksofliam commented on #161
Yes, there is a command to disconnect. ￼

[2021-06-05 22:00] SJLennon commented on #161
If you have a connection and try to start another it will first stop you current connection.  Provided you have no open and unsaved files.
@szsascha

[2021-06-06 12:06] szsascha commented on #161
Ok, thanks a lot!

[2021-06-06 12:06] #161 closed

[2021-06-07 11:28] eduardomarco commented on #155
I will be a good beta tester, lol!

[2021-06-08 18:16] ToshBimbra opened #163 "Unable to install "halcyontechltd.code-for-ibmi" extentions becauser it is not compatible with VS Code 1.48.2"
What is the minimum version of  VS Code needed for code-for-ibmi ?
Thx. tosh.

[2021-06-08 19:00] worksofliam commented on #163
Looks like we build for 1.52 and above!

[2021-06-08 19:00] #163 closed

[2021-06-09 12:22] eduardomarco opened #164 "Connection error"
**Describe the bug**
I can´t connect to IBM I, i don´t have any problem with ACS connections
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Connect to an IBM i'
2. Fill the fields.
2. Click on 'Connect'
3. Scroll down to '....'
4. See error
Not connected to 10.213.5.5  Max identification string size exceed
**Expected behavior**
Connect to an IBM I

**Screenshots**
If applicable, add s

[2021-06-09 12:39] worksofliam commented on #164
@eduardomarco Please fill out the issue correctly, especially the steps to reproduce. Thanks.

[2021-06-09 15:19] SJLennon opened #165 "Update searches to support standard strings"

[2021-06-09 15:44] SJLennon commented on #165
I've been experimenting with the search feature.
I wanted to find RPG source with **free.  Searching in the Member Browser.
![image](https://user-images.githubusercontent.com/67484051/121382706-ded59400-c914-11eb-8484-eb9333e7c194.png)
Results looked like this, with a lot of hits that were not **free:
![image](https://user-images.githubusercontent.com/67484051/121382939-13e1e680-c915-11eb-8381-626

[2021-06-09 15:51] SJLennon opened #166 "Open search results in readonly document"
Further experiments.
1) Search results are show in a tab.  When you close it you get a save dialog:
![image](https://user-images.githubusercontent.com/67484051/121387158-77b9de80-c918-11eb-81be-ba5907b8768a.png)
Not a show stopper, but would be nice if it could be avoided.

2) Subsequent searches add to the open Results tab.  I kind of expected them to be in a separate tab.
![image](https://user-i

[2021-06-09 15:51] worksofliam commented on #165
That is totally weird.

![image](https://user-images.githubusercontent.com/3708366/121387908-0a5a7d80-c919-11eb-860b-8e87b3047d3d.png)

![image](https://user-images.githubusercontent.com/3708366/121387927-0f1f3180-c919-11eb-895e-b4ecc8257849.png)

[2021-06-09 15:52] worksofliam commented on #166
Please keep all your findings in a single issue, thanks!

[2021-06-09 15:55] worksofliam commented on #165
it seems like the asterisks are ignored.

![image](https://user-images.githubusercontent.com/3708366/121388423-7c32c700-c919-11eb-8d31-66d7e801f374.png)

![image](https://user-images.githubusercontent.com/3708366/121388479-85239880-c919-11eb-894b-94d2a7058f7d.png)

Unless I specify `\\*\\*FREE`:

![image](https://user-images.githubusercontent.com/3708366/121388627-a1273a00-c919-11eb-9d4d-438fcc6bf

[2021-06-09 15:58] SJLennon opened #167 "Use decoration commands instead of classic links in search results"
I wanted to open the source from the search. Initially it didn't seem obvious.  But I can follow the link and it opens the file! Great feature 😃 .
Might not be intuitive to those new to VS Code.
![image](https://user-images.githubusercontent.com/67484051/121388385-73da8c00-c919-11eb-9f8c-a7b732e93079.png)
I don't have huge source files, but search seems pretty responsive.  Neat!
@worksofliam

[2021-06-09 16:01] worksofliam commented on #165
I am going to use this issue as a to-do item from now. Thanks for this info @SJLennon!

* [ ] Update docs to tell users that regex can be provided in the search
* [ ] Automatically apply a second backtick so users don't have to that (like standard regex). E.g. `\*\*free` (correct) vs `\\*\\*free` (not correct)

[2021-06-09 16:03] worksofliam commented on #166
Yes, for now, it will continue to open in its own unsaved text document. I could implement a textDocumentProvider but that does add a tad bit of complexity. I don't have a ton of time to work on this right now, but I am going to fix up the issue title to match the enhancement.

[2021-06-09 16:04] worksofliam commented on #167
Right now, this is the only way we can open-source members and stream files from TextDocuments without writing a ton of code to make them use VS Code decorations instead. I do not plan on doing this right now.

[2021-06-09 16:07] worksofliam commented on #155
In the latest release, I have added a new output channel so we can see the results of commands.

<img width="675" alt="Screen Shot 2021-06-09 at 12 06 29 PM" src="https://user-images.githubusercontent.com/3708366/121390342-48f13780-c91b-11eb-89f3-146cc80f3524.png">

1. Enable SQL
2. Restart Code for IBM i
3. Open the new output channel (shown in the image)
4. Try and open the member list
5. Paste

[2021-06-09 16:20] SJLennon commented on #165
I tried \\\\*\\\\*FREE and I still get the spurious hits.  On pub400, of course.
![image](https://user-images.githubusercontent.com/67484051/121389658-a769e600-c91a-11eb-9434-132e06ab64b5.png)
Result:
![image](https://user-images.githubusercontent.com/67484051/121389827-c9636880-c91a-11eb-8b60-3a5942e3ddac.png)
@worksofliam

[2021-06-09 16:46] SJLennon commented on #165
Another curiosity when searching a source file.
If I have code like this:
[code]
and I want to search for `.STATE`.  According to my Unix book, there are a number characters which have special significance to grep, including the period.  So searching for .STATE gives a lot of spurious hits.

However, if I search for `\.state` then I get an error:
![image](https://user-images.githubusercontent.com/

[2021-06-09 16:47] worksofliam commented on #165
But what about if you use `\\.state` and `data\\.`?

[2021-06-09 17:01] SJLennon commented on #165
No luck.  Still get the error.
![image](https://user-images.githubusercontent.com/67484051/121397268-2ca4c900-c922-11eb-87a5-8b2e667dedb6.png)
@worksofliam

[2021-06-09 17:03] SJLennon commented on #167
I think the current approach ctrl-click to follow the link is quite functional, once you know about it.  Definitely works for me.
@worksofliam

[2021-06-09 17:14] SJLennon commented on #166
"Please keep all your findings in a single issue, thanks!"

Sorry.  I thought that one issue would be too large.

"edit: i would recommend updating the topmost comment with all this info"

Not sure that this means.

You back in the UK or still in NC?

Sam

________________________________
From: barry ***@***.***>
Sent: Wednesday, June 9, 2021 11:52 AM
To: halcyon-tech/code-for-ibmi ***@***.***>
Cc

[2021-06-09 19:33] SJLennon commented on #155
FWIW, and just to duplicate the results of @eduardomarco :

From Code for IBM i  output:
![image](https://user-images.githubusercontent.com/67484051/121416447-ceceac00-c936-11eb-9bf8-5e99024a1bee.png)

Reformatted it so I could paste it into a QP2TERM screen, ran it, and go this:
[code]
And this is from PuTTY:
[code]

[2021-06-10 00:05] worksofliam commented on #164
@eduardomarco Were you able to connect to the system previously? Or has it just never worked.

I have never seen this error before.

[2021-06-10 00:06] worksofliam commented on #165
Weird how we get different results on the same utility.

[2021-06-10 01:54] worksofliam commented on #155
More updates on this issue when testing on pub400:

Interesting point:

The statement used in Code for IBM i does not work:

[code]

but this simplified statement does work:

[code]

Taking out the second table from the select makes it work:

[code]

But this statement does not work on pub400:

[code]

**So the real issue is with `Qsys2.Sysschemas`**.

[2021-06-10 03:10] SJLennon commented on #165
Again, maybe something quirky on pub400.  Or maybe it's me doing something wrong.  I'll try again tomorrow.

I have a cloned copy of the repository.  Should that make any difference?
@worksofliam

[2021-06-10 03:15] worksofliam commented on #165
No difference to my knowledge!

[2021-06-10 11:06] eduardomarco commented on #164
With VS code never connect. I am connecting with ACS without problems

[2021-06-10 11:31] eduardomarco commented on #155
I use the second statement and functioning ok for me
DB2UTIL_JSON_CONTAINER=array /QOpenSys/pkgs/bin/db2util -o json "select * from Qsys2.Syspartitionstat Where Table_Schema = 'EAMARCO' And Table_Name = 'QRPGLESRC'"

[2021-06-10 12:52] worksofliam commented on #155
This statement provides the same data and works on my two systems, one of which is pub400.

I will make a PR:

[code]

[2021-06-10 14:31] onewheelonly commented on #155
Liam, do you think you it would be possible to use SYSTABLES.IASP_NUMBER instead please?

The issue with using SYSSCHEMAS is that it is really just a view built over the output of:

[code]

In other words, it returns the details of every library on the system, and then filters down the list afterwards. Our system has about 177K libraries on it, so this is pretty slow 🙂

![image](https://user-image

[2021-06-10 14:33] worksofliam opened #168 "Display `ls` result if not blank, even if there is an error"
When doing an `ls -a -p`, sometimes when there is a file with a weird character in there, `ls` will write to standard out.

This means the result does not appear in the IFS browser, even if there is a listing in standard out.

Make a fix to both 1. shows the error and 2. display the listing if it is available.

Found by @toshbimbra.

[2021-06-10 14:56] onewheelonly opened #169 "Unable to open files with a '#' in the name"
**Describe the bug**
The extension appears unable to open files that contain a '#' in the name. From some experimenting, this seems to include:

- A '#' in the containing library, file or member name
- A '#' in the path of a stream file, (both file and directory names)

Trying to open such a file doesn't result in any error messages. The editor just doesn't load.

**To Reproduce**
Find (or create

[2021-06-10 14:58] worksofliam commented on #169
I believe this is a bug related to running SSH commands. I also think I know the fix. Will keep you posted!

[2021-06-10 14:59] worksofliam commented on #155
Hey @onewheelonly!

Looks like we both commented near the same time. The plan is to use SYSTABLES from now on - thank you for sharting that SQL statement!

[2021-06-10 15:04] onewheelonly commented on #155
I had the issue page open for a bit and missed your reply. Great minds, and all that, haha

[2021-06-10 15:18] mahoneyl opened #170 "Is there a way to open a Source Member directly without navigating through the Member Browser?"
Hi guys,

I'm looking for a way to directly open a source member without needing to scroll through the member browser and click on one.

In RDi this can be achieved with the hotkey ctrl+alt+q which pulls up a window like this
![image](https://user-images.githubusercontent.com/35392006/121551047-e9576280-c9d4-11eb-902f-63784267ede4.png)

Does there currently exist a way to do this with CODE for IBM

[2021-06-10 15:22] mahoneyl opened #171 "Detailed documentation link is broken"
**Describe the bug**
The link to read the detailed documentation from the README returns a 404 error
![image](https://user-images.githubusercontent.com/35392006/121551736-80241f00-c9d5-11eb-8e37-89a42cf941f8.png)

![image](https://user-images.githubusercontent.com/35392006/121551670-74d0f380-c9d5-11eb-9c0d-670180f98afa.png)

https://halcyon-tech.github.io/code-for-ibmi/#/

**To Reproduce**
Steps t

[2021-06-10 15:35] worksofliam commented on #170
We can absolutely add this. Thanks!

[2021-06-10 15:36] worksofliam commented on #171
Looks like this is related to renaming the repo. The new working link is: https://halcyon-tech.github.io/vscode-ibmi/#/

[2021-06-10 15:52] mahoneyl commented on #171
Thank you!

[2021-06-10 15:58] worksofliam commented on #171
Going to keep this open until the readme and repo has been fixed today.

[2021-06-10 20:45] worksofliam commented on #169
The issue was actually with the VS Code API and how it treats paths with the pound sign / hashtag.

See the fragment property here: https://code.visualstudio.com/api/references/vscode-api#Uri

A fix is coming.

[2021-06-10 21:21] connorholyday opened #174 "Extend "Open Source By Path" to work for IFS"
Related to PR #173

[2021-06-10 21:22] connorholyday opened #175 "Add custom keyboard shortcuts tip to README"
Add a section detailing how to add custom keyboard shortcuts to the README.

Related to PR #173

[2021-06-10 21:42] #169 closed

[2021-06-10 21:42] #168 closed

[2021-06-10 21:48] worksofliam commented on #170
@mahoneyl This is being worked on. It will be out sometime in the next few days.

[2021-06-10 22:05] worksofliam commented on #169
Will be available in 0.5.5
![image](https://user-images.githubusercontent.com/3708366/121603243-740c8180-ca16-11eb-90ed-46bea0658ea6.png)

[2021-06-10 22:10] worksofliam commented on #155
0.5.5 is now deploying. Please try this again and raise a note here if it does not work.

Thanks!

[2021-06-11 04:53] mahoneyl commented on #170
You just rocked my socks off. Thanks for your help!

[2021-06-11 12:26] worksofliam commented on #164
@eduardomarco is the SSH daemon running? Are you able to connect with ssh?

[2021-06-11 13:54] mahoneyl opened #179 "Dynamic Color Theme'ing based on current IBM i Connection"
**Is your feature request related to a problem? Please describe.**
I connect to multiple machines a day simultaneously by opening a new VS Code Window and connecting to the different machine. Sometimes I forget to check the icon on the bottom row that says which IBM i that I am connected to and I end up changing files on the wrong machine.

**Describe the solution you'd like**
I would like to be a

[2021-06-11 14:34] SJLennon commented on #170
FWIW: You can search in the member browser simply by clicking and typing.  That might work for you for now.
Example:
I clicked on the scroll bar and that highlights the browser in blue:
![image](https://user-images.githubusercontent.com/67484051/121702490-ed9c8200-ca9f-11eb-9b5e-b6a8d3a769d7.png)
I have a member named usphdr.rpgle, which is further down the browser.  It I start typing and enter us

[2021-06-11 14:51] SJLennon commented on #155
Is` "enableSQL"` obsolete?  My pub400 session has `"enableSQL": false `and it now opens the Database Browser.
Just curious.  It is still mentioned in the help.
@worksofliam

[2021-06-11 14:52] worksofliam commented on #155
Weird! Let me check that out.

[2021-06-11 15:00] worksofliam commented on #179
A very cute idea indeed. I will look into this and post further information if I see it as viable.

[2021-06-11 16:27] mahoneyl opened #180 "Member Browser not loading in members"
**Describe the bug**
I have a source file on our system we would like to load the members and edit them from. Previously this has worked flawlessly. This morning I went to open the source physical file and it returns an error on the GUI saying "Error loading members".
![image](https://user-images.githubusercontent.com/35392006/121717783-30158d00-caa7-11eb-910f-36fdbd8dac4d.png)
I am able to load m

[2021-06-11 16:30] mahoneyl commented on #180
Are there some error logs or config logs I can pull somewhere and upload to be more helpful?

[2021-06-11 16:34] worksofliam commented on #180
@mahoneyl There is an output channel called `Code for IBM i`.. open that up and then try to load the members again.

[2021-06-11 16:35] mahoneyl commented on #170
Thanks! That definitely helps

[2021-06-11 17:17] mahoneyl commented on #180
Thanks for that tip I think something has changed between version 0.5.3 and 0.5.5 which has caused there to be errors when loading members.

I think the issue for our system comes from the way the source members were being pulled. It looks like in 0.5.3 that DSPFD was used to produce an outfile

In the newest version 0.5.5 the method of grabbing the source members using a sequel statement.
`/: DB2

[2021-06-11 17:27] worksofliam commented on #180
Do you have SQL disabled in the settings by default? The issue is that SQL is always enabled right now, even if you have it disabled.

I will look into getting that fixed.

[2021-06-11 17:33] worksofliam commented on #180
@mahoneyl 0.5.6 is being deployed. I was able to recreate it.

Please update in a little bit and let me know how it goes.

[2021-06-11 17:37] mahoneyl commented on #180
SQL was Enabled in my settings.

Was able to reproduce that same behavior. Never fell back to DSPFD

Thank you so much for jumping on  0.5.6 deployment you are so fast

[2021-06-11 17:43] worksofliam commented on #180
@mahoneyl Was it enabled before 0.5.3? If it was using DSPFD I would probably say it was disabled.. 0.5.5 kind of broke that.

When you update I would recommend:

1. Connecting to your system
2. Go to the settings, disable SQL and save
3. Disconnect
4. Reconnect again
5. Load the members

[2021-06-11 17:48] worksofliam commented on #179
So I took a look at this and I think it's such a cool idea! With that being said.. it's not going to be an easy task. It's something that I will look into adding when I can spare some hours to do it! Of course, someone else is welcome to pick it up.

This is what I had in mind:

* A new option in the connection settings
* That option will be a select box with many colors:
   * Default
   * Light b

[2021-06-11 18:03] mahoneyl commented on #180
I'm sorry but I can't remember for sure if I had enabled it purposefully or not before 0.5.5.

I just tried out 0.5.6 with SQL disabled and its back to using DSPFD and loading the source members again. 💪Thank you!

One thing I am curious from when SQL was enabled; was why did large source pf get errors pulling but smaller ones did not? I'm wondering if we need to install db2utils or perhaps need t

[2021-06-11 18:06] worksofliam commented on #180
Not sure. I would check db2util is updated for sure.

Likely because it's a large file!

I will close this issue. Thanks!

[2021-06-11 18:06] #180 closed

[2021-06-11 18:56] mahoneyl commented on #179
I think that sounds perfect. Allowing users to do their own Hex colours could be a future enhancement beyond this one.

[2021-06-12 14:11] worksofliam commented on #179
After some further investigation into how the colors work.. it will be a bit tricky.

We can have only two types of settings:\

* global settings, which affects all VS Code instances
  * If we update this, it will change all VS Code instances
* workspace settings, which affects all VS Code instances using the current workspace.
  * if we update this it will only usually affect one window or so. Th

[2021-06-12 14:15] worksofliam opened #181 "Way to tie a workspace to a connection"
I think we should be able to store a connection name into the Workspace settings, so when we launch into a workspace with `vscode-ibmi-connection: name` we should automatically try and connect to `name`.

[2021-06-12 14:15] worksofliam commented on #181
Related to #179

[2021-06-12 15:22] worksofliam commented on #179
@mahoneyl Please let me know what you think of this based on PR #182:

https://user-images.githubusercontent.com/3708366/121780934-869ace00-cb70-11eb-8f5b-b66d7f4a7c1c.mp4

[2021-06-12 15:31] #170 closed

[2021-06-12 15:38] worksofliam commented on #174
Done.

[2021-06-12 15:38] #174 closed

[2021-06-13 19:44] JonFP opened #187 "Remove Info messages from error list"
I'd like to be able to tell the error list to forget the info messages - they are just annoying. Can't find a way to specify that.

[2021-06-13 20:33] worksofliam commented on #187
In VS Code, there is a way to filter the error types.

You can disable information messages with the filter:

![image](https://user-images.githubusercontent.com/3708366/121821121-e1155680-cc64-11eb-9026-bf9862a10561.png)

Or, if you never want to see a specific error code again you can add add that code to the settings:

![image](https://user-images.githubusercontent.com/3708366/121821148-1fab1100

[2021-06-13 20:39] #187 closed

[2021-06-14 12:15] eduardomarco commented on #155
All OK, now.
Thanks..

[2021-06-14 12:35] eduardomarco commented on #164
I can´t connect.

[2021-06-14 13:37] eduardomarco opened #189 "If be posible use of debug?"

[2021-06-14 13:59] worksofliam commented on #189
Please see other related issues. #160 #70.

[2021-06-14 13:59] #189 closed

[2021-06-14 15:33] SJLennon opened #190 "Curious activity in Code for IBM i Output"
**Describe the bug**
In the Output tab I see CPYTOSTMF activity each time VS Code regains the focus.

**To Reproduce**
Steps to reproduce the behavior:
Running on WIN 10 Pro.
1. Open a member, but make no changes.
2. Open the OUTPUT tab.  Select CODE for IBM i in the drop down.
3. Clear the OUTPUT tab.
4. Switch focus to another window.
5. Alt-Tab back to VS Code.  A CPYTOSTMF activity appears in

[2021-06-14 15:36] worksofliam commented on #190
This is standard VS Code behavior.

When a file is not dirty (edited), VS Code continues to fetch the contents of the file in case of any changes.

[2021-06-14 15:36] #190 closed

[2021-06-14 15:51] SJLennon opened #191 "Source Search Result Error"
**Describe the bug**
A colon (:) in the found line truncates the line in the result.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a source file with this line:   `// This is a sample comment:xxx precedes this.`

2. Search for xxx.
3. Text after the colon is missing in the Result tab.

**Expected behavior**
Should show the entire line
**Screenshots**
Here's my result:
![image](https

[2021-06-14 16:03] SJLennon opened #192 "Error Deleteing IFS file."
**Describe the bug**
Get "Cannot delete streamfile while it is open" even though the file is not open.

**To Reproduce**
Steps to reproduce the behavior:
1.Open a stream file in the IFS browser.
2. Close the stream file.
3. Right click and choose Delete Object.
4. See the error message.

**Expected behavior**
Should get the "Are you sure ..." prompt.

If you keep trying to delete, eventually after

[2021-06-14 21:10] worksofliam commented on #192
This is an issue for both IFS and members.

Also applied to deleting, renaming, moving, etc.

Working on it.

[2021-06-14 21:18] worksofliam commented on #192
Turns out my current implementation was not that good.

There really isn't an API to determine a list of open tabs, so I may just remove this entirely.

https://github.com/microsoft/vscode/issues/15178

[2021-06-14 21:31] worksofliam commented on #192
Due release.

[2021-06-14 21:44] worksofliam commented on #191
This is a great bug find. Thank you @SJLennon!

![image](https://user-images.githubusercontent.com/3708366/121963392-0d4dd780-cd38-11eb-9a54-1befd546586d.png)

![image](https://user-images.githubusercontent.com/3708366/121963458-22c30180-cd38-11eb-9844-df0bb678b587.png)

[2021-06-14 21:49] mahoneyl commented on #179
I like that a lot. I think this adds value in saving your configs and allows people to quickly load up a "daily driver" workspace or associate different colors with different projects/connections.

I think functionally this will also work well because it seems like after you have connected to an IBM i and then go back to "normal VS Code" on the explorer and change the root folder/directory you are

[2021-06-14 21:52] worksofliam commented on #179
@mahoneyl Glad you think so!

The issue here is that I won't be able to merge it in unless it is tested by others.

Do you think you'd be able to build the extension and have a go yourself? I am happy to write some instructions if you needed!

[2021-06-16 15:31] worksofliam opened #193 "Wrong text for empty libraries"
`No members found`

[2021-06-16 15:32] worksofliam opened #194 "Ability to create library from object view"

[2021-06-16 15:33] worksofliam opened #195 "Create source file button in Object View does nothing"

[2021-06-16 15:35] worksofliam commented on #195
Only works from right clicking on a library.

Also, when the source file is made, add it to the member view and then automatically bring it into focus

[2021-06-16 18:53] danlong005 opened #196 "Source Dates Not Working"
**Describe the bug**
I have purchased the license and have applied the license. Also, I have installed the SourceDates vsix. Then restarted VSCode. I get the following message each time I connect.

![image](https://user-images.githubusercontent.com/7793404/122275940-e1eafa00-cea9-11eb-9753-abd1a3d5dcc8.png)

Yet when I connect via ssh to the IBMi I can run the db2util command.
![image](https://use

[2021-06-16 19:01] worksofliam commented on #196
Hey Dan. Please reach out to our support team.

support[at]ileditor[dot]dev

We may setup a little call to look at this together!

[2021-06-16 19:01] #196 closed

[2021-06-17 13:12] edshaw42 commented on #179
@worksofliam I could help test it! Shoot me the instructions and step by step, and I will try to get it tested this weekend!

[2021-06-17 16:04] SJLennon commented on #165
This issue is closed, but I'm not clear if I can now search for  `**free`.  Or if I need to instead search for `\*\*free`.  Or maybe for` \\*\\*free`.  Or if this is an enhancement deferred to a subsequent release.

I ask because on 0.5.7 I still seem to be having issues.

Again, it's not impeding anything that I'm doing--just looking for clarity.
@worksofliam

[2021-06-18 16:02] mahoneyl opened #197 "Outline View for Source Code"
**Is your feature request related to a problem? Please describe.**
When opening source code I'm unfamiliar with, it is productive to be able to quickly glance at the overall structure of the code. Being able to use the RDi or VS Code Outline View helps me to be able to quickly get familiar with functions/procedures and the overall structure of the code that I'm working with.

**Describe the soluti

[2021-06-18 16:05] mahoneyl commented on #197
Sorry I didn't realize this is a duplicate issue of
https://github.com/halcyon-tech/vscode-ibmi/issues/92
and discussion should be had on https://github.com/halcyon-tech/vscode-ibmi/issues/32

[2021-06-18 16:05] #197 closed

[2021-06-18 16:08] mahoneyl commented on #32
I just want to throw in my .2cents and say that something I've really been missing from RDi is Outline View. I think it would be a really productive addition to CODE for IBM i.

[2021-06-19 03:48] #191 closed

[2021-06-19 03:48] #192 closed

[2021-06-19 03:48] #193 closed

[2021-06-19 03:48] #195 closed

[2021-06-20 03:22] worksofliam commented on #152
@szsascha I'd like to work on this soon.

Any chance you can provide as much detail as possible for what you would like to see?

[2021-06-20 03:22] worksofliam commented on #58
I'd still like to do this. I am going to put it into the 0.6.0 release milestone.

[2021-06-20 03:24] worksofliam commented on #39
I think I agree with @szsascha on this one. I don't believe we are planning to change the IFS browser to this.

I will close for now.

[2021-06-20 03:24] #39 closed

[2021-06-20 03:25] worksofliam commented on #47
I am not sure there is an easy way to get information about a streamfile from an outfile or somewhere in the database.

Any ideas @richardschoen? I personally don't want to parse the output of `DSPATR`.

[2021-06-20 04:42] richardschoen commented on #39
OK, but I can do this in RDI.  In my opinion we should make this better than a standard SFTP client. Nothing is more painful than drilling in and out of a huge project structure and then needing to quickly reference files somewhere else.

[2021-06-20 04:44] richardschoen commented on #47
The magic of SQL: https://www.ibm.com/support/pages/retrieving-information-about-objects-ifs

[2021-06-20 04:49] richardschoen commented on #39
A few screen shots for inspiration or perspiration.
![image](https://user-images.githubusercontent.com/9791508/122662460-c9543b80-d158-11eb-9110-86e42069e535.png)
![image](https://user-images.githubusercontent.com/9791508/122662476-dffa9280-d158-11eb-99d9-4c5411a84129.png)
![image](https://user-images.githubusercontent.com/9791508/122662498-03bdd880-d159-11eb-9f99-b6ab99431c79.png)

[2021-06-20 15:56] SJLennon commented on #165
@worksofliam On 0.5.8 still having issues with search.
Given a test source member like this:
[code]
Search the source file for `-free`
I get this:
![image](https://user-images.githubusercontent.com/67484051/122680021-516b2d00-d1bb-11eb-999a-fc11ec2f2bc5.png)
Code for IBM i output show this:
[code]
Possibly any search starting with `-` is problematic.

Searching for `\-free` also fails:
![image](ht

[2021-06-21 15:00] mahoneyl commented on #170
@worksofliam Thank you for adding this! This feature really helps a bunch. I really like the LIB/SOURCEPF/MEMBER notation to quickly navigate and open the files I need.

[2021-06-23 11:29] #164 closed

[2021-06-23 12:22] benetti-smeup opened #198 "I can't open a source member with '£' in the member's name"
**Describe the bug**
Describe your issue:
A lot of my source members' names contains '£' .
I see the right member name in the member browser.
When I try to open it, I get this message:
"CPFA0A9: L'oggetto non � stato trovato. L'oggetto � /QSYS.lib/SMEUP_TST.lib/JASRC.file/A£MOPE_02.mbr. CPFA097: Oggetto non copiato. L'oggetto � /QSYS.lib/SMEUP_TST.lib/JASRC.file/A£MOPE_02.mbr."

The source file cc

[2021-06-23 12:47] worksofliam commented on #198
Can you run `ls /QSYS.lib/SMEUP_TST.lib/JASRC.file/` in a pase shell and paste the result here?

[2021-06-23 12:50] benetti-smeup commented on #198
I get a list with # instead of £ in the members' names.

A#_053_02.MBR   B#_089_01.MBR   B#SER_10.MBR    C#_100_04.MBR   D5_139_01O.MBR  LOA10_SE.MBR    LOA42_OG3.MBR   WFSER_02.MBR
A#_053_02O.MBR  B#_089_01O.MBR  B#SER_39.MBR    C#_101_01.MBR   GM_036_01.MBR   LOA10_SU.MBR    LOA42_RND1.MBR  WFSER_03.MBR
A#_094_06.MBR   B#_089_02.MBR   B#SER_44.MBR    C#_125_00.MBR   GM_036_02.MBR   LOA12_10.MBR

[2021-06-23 12:51] worksofliam commented on #198
That is likely the issue here. Probably something to do with encoding. I will ask around to see if anyone knows why this might be.

Also, can you try it from an ssh session?

[2021-06-23 13:06] benetti-smeup commented on #198
I think the problem is that in ccsid 280 '£' has the same hex as '#' in ccsid 37. The member browser lists the members' names in ccsid 280 (rightly), but I don't know if the pase environment support different ccsid.

In a ssh sessions I see names with # insteand of £.

![liam3](https://user-images.githubusercontent.com/33417433/123101601-8635e900-d434-11eb-8a9f-4c393d17a70e.png)

[2021-06-23 14:29] onewheelonly commented on #198
'£' isn't valid in an IBM i "name". So I think you're a victim of QCCSID= 65535.

In an interactive job, could you check your job CCSID (DSPJOB, option 2, page down three times, find "Coded character set identifier")? And can you advise what encoding your emulator software is set to use?

[2021-06-23 14:35] benetti-smeup commented on #198
Identificativo lingua . . . . . . . . . . . . . . :   ITA
Identificativo paese o regione  . . . . . . . . . :   IT
Identificativo serie caratteri codificati . . . . :   65535
CCSID predefinito . . . . . . . . . . . . . . . . :   280

my ACS session use ccsid 280

[2021-06-23 14:44] benetti-smeup commented on #198
I have the same problem using a user with ccsid set to 280, too.

[2021-06-23 14:45] onewheelonly commented on #198
That setup does sound like it should be okay 🤔

[2021-06-23 14:47] benetti-smeup commented on #198
I thought so too, but it does not work.

[2021-06-23 15:47] cwakelee opened #199 "CPDA08C: Database File CCSID is 65535"
**Describe the bug**
Clients keeps box at CCSID 66535 can not open member
CPDA08C: Database File CCSID is 65535

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-06-23 15:51] worksofliam commented on #199
That's because the source file was likely created as 65535. Please set the 'Source file CCSID' in the settings.

![image](https://user-images.githubusercontent.com/3708366/123128707-5decc100-d419-11eb-9e8b-5469e26dbb97.png)

[2021-06-23 15:59] cwakelee commented on #199
Now do you get the addtional settings

[2021-06-23 16:00] worksofliam commented on #199
There is a label in the bottom right that says the word 'Settings' followed by the host name.

[2021-06-23 16:32] cwakelee commented on #199
CPD0085: Range of parameter DBFCCSID does not include 65535. CPF0006: Errors occurred in command.

[2021-06-23 17:28] worksofliam commented on #199
You cannot put 65535 in there. You need to specify what CCSID you expect it to be.

[2021-06-24 00:27] SJLennon commented on #199
@cwakelee  FWIW:  65535 means hex, or no translation takes place when the data is retrieved. Having data as 65535 is not a good practice.
For Source file CCSID you _probably_ want 37 if you are in the USA.  If you are somewhere else this page may help: https://www.ibm.com/docs/en/i/7.2?topic=information-ccsid-values-defined-i

[2021-06-24 10:39] benetti-smeup commented on #198
I tried on a 7.3 IBM i machine with QCCSID = 280  and db2util 1.0.11-1 and I have the same problem. So it's not QCCSID = 65535 the issue.

[2021-06-24 14:15] SJLennon commented on #198
@benetti-smeup FWIW:  Until a solution if found, you can try disabling db2Util, by un-checking the "Enable SQL" option.  That will mean the Member Browser should work but you will lose the Database browser.  If the Member Browser still fails, then it probably isn't db2Util.

You need to **save the settings**, then **reconnect** to make it take effect.
![image](https://user-images.githubusercontent

[2021-06-24 14:35] benetti-smeup commented on #198
I confirm that I have the same problem with db2utils disabled.
![liam4](https://user-images.githubusercontent.com/33417433/123281727-36c1ec80-d50a-11eb-8b7e-a8da48bd0e55.png)

[2021-06-25 14:55] worksofliam opened #200 "Shortcut to open copy book"

[2021-06-25 14:56] worksofliam opened #201 "Prompt user to save when attempting to run an action"
Instead of complaining that the file is dirty, ask them if the user wants to save it first and then continue with the action.

[2021-06-25 14:58] worksofliam commented on #85
We need to add a keepalive. The SSH timeout doesn't achieve this.

[2021-06-25 15:21] onewheelonly commented on #85
The "ServerAliveInterval" SSH option may do what you want, here.

[2021-06-25 15:58] richardschoen commented on #85
I'm not sure how the VS Code SSHFS plugin does it, but if I lose a connection and then close and re-open VS Code it somehow knows what I had open and opens everything back to where it was. Not sure if it maintains temporary files or something similar.

[2021-06-27 18:36] richardm90 opened #202 "buildLibrary property not accepted when compiling IFS source"
**Describe the bug**
When compiling IFS source I was unable to get the build library to default, it always defaulted the value `undefined`.

My connectionSettings config included a value for `buildLibrary`, as per the docs, and the library existed.

**To Reproduce**
Steps to reproduce the behaviour:
1. Clear "IBM i output" output in the Output tab
2. Open an IFS rpgle source
3. Compile using the C

[2021-06-29 12:44] #199 closed

[2021-06-29 12:44] worksofliam commented on #199
Thanks for your help here @SJLennon!

[2021-06-29 12:50] worksofliam commented on #202
Yup, glad you figured it out. We switched it over to avoid confusion in the future.

Here are the references to 'current library' - maybe we do need to add more?

1. https://halcyon-tech.github.io/vscode-ibmi/#/?id=current-library
2. https://halcyon-tech.github.io/vscode-ibmi/#/?id=command-variables-and-fields (see `&CURLIB`)

Yes, it does correct set your setting `currentLibrary` to the current l

[2021-06-29 12:50] #202 closed

[2021-06-29 12:53] worksofliam commented on #198
Likely something to do with the shell encoding vs encoding of the members.

I am not sure personally, and this isn't a direct issue with this extension if `ls` is returning names with the pound sign (`#`) in. I will leave it open and hopefully someone who knows more about it might be able to chime in.

[2021-06-29 16:04] SJLennon opened #203 "Rpgle Indentation Enabled: End-PR"
**Describe the bug**
End-PR is flagged as an indentation issue.  End-PR is expected to be indented and (IMHO) it should not.  End-PI and End-DS don't require indentation.

**Screenshots**
Here's and example:
![image](https://user-images.githubusercontent.com/67484051/123817767-6f751380-d8c6-11eb-976f-df1529693be7.png)

 **To Reproduce**
I have struggled with this.  The above screen shot is of some

[2021-06-29 16:14] worksofliam commented on #203
@SJLennon Can you please paste the code here that is causing this so I can just copy and paste it into my editor?

Thanks

[2021-06-29 18:04] SJLennon commented on #203
Sure...

[code]

![image](https://user-images.githubusercontent.com/67484051/123845731-875a9080-d8e2-11eb-9e1c-b47e9a13748a.png)

Delete the `// `and the problem goes away.
@worksofliam

[2021-06-29 18:05] worksofliam commented on #203
Thanks. I will work on this tonight.

[2021-06-29 19:00] SJLennon commented on #203
No rush on my part.  If case it helps, here is slightly larger code with errors **also** on the `End-pi,` and the comments in a slightly different place.
[code]
![image](https://user-images.githubusercontent.com/67484051/123852212-1028fa80-d8ea-11eb-87fd-a728a35285be.png)
Removing the comment resolves the problem.

![image](https://user-images.githubusercontent.com/67484051/123852474-5716f000-d8ea

[2021-06-30 11:44] BrianGarland opened #204 "Allow saving of a library list and swapping between saved lists"
It is common to work in multiple applications (or multiple versions of the same application) which have different library lists.

It would be great to have a way to set a library list, then save it for later use so that you can easily switch between them.

[2021-06-30 15:16] benetti-smeup commented on #198
I have some update about this issue.
Setting these env variables seems to work.
PASE_LANG                   'IT_IT'
QIBM_PASE_CCSID             '1208'

I tried also
PASE_LANG                   'it_IT'
QIBM_PASE_CCSID             '1252'

and it seems to work, too.

The original setting was

QIBM_PASE_CCSID             '819'
and no PASE_LANG

I had to set these variables with
WRKENVVAR LEVEL(*SYS)
a

[2021-07-01 00:17] worksofliam opened #205 "Connection has a progress bar"

[2021-07-01 00:42] worksofliam commented on #201
![image](https://user-images.githubusercontent.com/3708366/124048122-9ffe9f80-d9e3-11eb-82e3-5f0a7a8d70a6.png)

[2021-07-01 00:57] worksofliam commented on #203
Made a fix. Will be out in 0.6.0

[2021-07-01 01:50] worksofliam commented on #204
This is an awesome feature. The code has been written and I'm to open the PR. Before it can get released, I need to work on the documentation and then it should be out in 0.6.0.

[2021-07-01 01:54] BrianGarland commented on #58
ACS provides this already.  This extension doesn't have to do everything.

[2021-07-01 01:57] worksofliam commented on #85
@onewheelonly I just realised while I was looking into this issue that we already set the keep alive that node-ssh/ssh2 uses.

https://github.com/halcyon-tech/vscode-ibmi/blob/master/src/api/IBMi.js#L45

I wonder if there is an underlying bug in one of those libraries.

[2021-07-01 01:57] BrianGarland commented on #204
@worksofliam This is amazing!  It was cool to watch you think through this and code it within hours of me creating the issue.

[2021-07-01 02:06] #204 closed

[2021-07-01 02:15] #205 closed

[2021-07-01 02:15] worksofliam commented on #203
@SJLennon This issue has been fixed and will be available in 0.5.9, which has just come out.

Please have a go and let me know.

[2021-07-01 02:16] worksofliam commented on #201
Released in 0.5.9.

[2021-07-01 02:16] #201 closed

[2021-07-01 02:16] worksofliam commented on #200
Added in 0.5.9.

[2021-07-01 02:16] #200 closed

[2021-07-01 03:05] prachaya2639 opened #209 "how to get Private Key"
I don't know to get a Private Key path

Thank you.

[2021-07-01 04:57] prachaya2639 commented on #209
I have a problem.
![image](https://user-images.githubusercontent.com/61548379/124066816-8c931900-da63-11eb-8116-e56751c6f5be.jpeg)

[2021-07-01 07:43] prachaya2639 commented on #164
I have the same problem.

![image](https://user-images.githubusercontent.com/61548379/124085804-9d9b5480-da7a-11eb-8ba5-87f036a16a53.png)

[2021-07-01 07:55] onewheelonly commented on #198
1208 may be preferable. It sounds like it is the default from 7.4:

https://www.ibm.com/docs/en/i/7.4?topic=system-default-pase-ccsid-locale-changed-utf-8

Though that page only talks about PASE commands invoked from QShell, to me it suggests a move towards using utf-8. It would be interesting to see if you still need those variables after you upgrade.

[2021-07-01 14:52] SJLennon commented on #203
@worksofliam
0.5.9 Fixed the above problem.
However,I have a question:  **What invokes the feature?**
I have two members open.  TESTIN2 is reporting indentation problems (line 8) as I expect.
![image](https://user-images.githubusercontent.com/67484051/124142863-9cf1c680-da58-11eb-950b-c18f23f3d57f.png)

But I cannot get TESTIN to report any indentation errors.  Line  8 in this one is clearly in er

[2021-07-01 21:27] SJLennon commented on #203
OK, figured it out.  **FREE is what turns it on.  **free does not, even though it is syntactically correct.
@worksofliam

[2021-07-04 00:10] #203 closed

[2021-07-04 00:25] worksofliam commented on #85
Okay, so for the time being I've added a message when the timeout event happens. When this happens, you can select `Yes` and have Code for IBM i reconnect to the connection.

I am about to release this. Please post back your results here.

[2021-07-04 00:25] #85 closed

[2021-07-04 17:02] worksofliam commented on #32
I am working on branch feature/outline_view which adds a basic outline view for RPGLE. It only includes procedures and subroutines.
![image](https://user-images.githubusercontent.com/3708366/124393356-1c390180-dcc8-11eb-8266-627e27bb1bd3.png)

[2021-07-05 20:36] chrjorgensen commented on #32
Hi Liam.

I see that the content assist requires the source to start with "**FREE" - please be aware that the instruction is case-insensitive, so "*free" is also valid... and what I use...

My preference is to have all RPG language elements in lowercase - all that uppercasing is too much shouting for me... he he

Of course it is a personal preference, but the compiler allows it and so should Code

[2021-07-05 20:44] worksofliam commented on #32
Hey @chrjorgensen

It does look like the `**FREE` check is requiring uppercase - but all else is case insensitive.

I will get this fixed up tonight or tomorrow.

Thanks!

[2021-07-08 08:37] benetti-smeup opened #213 "Library list seems reversed"
**Describe the bug**
Checking the library list of QP0ZSPWP job I see the library list reversed.
This is the library list I set

            "libraryList": [
                "QTEMP",
                "SMEUP_DAT",
                "SMETAB",
                "PER_SRVL",
                "SMEUP_SVI",
                "SMEUP_TST",
                "SMEDEV",
                "SMEUP_OBJ",
                "SMESR

[2021-07-08 12:01] worksofliam commented on #213
The job for the SSH connection is not the job that runs the compiles (which will have that library list).

[2021-07-08 12:12] benetti-smeup commented on #213
Sorry Liam, maybe I wasn't clear.

I have the same program in 4 different libraries (SMEUP_SVI, SMEUP_TST, SMEDEV and SMEUP_OBJ).

My library list was this:

        "libraryList": [
            "QTEMP",
            "SMEUP_DAT",
            "SMETAB",
            "PER_SRVL",
            "SMEUP_SVI",
            "SMEUP_TST",
            "SMEDEV",
            "SMEUP_OBJ",
            "SMESRC",

[2021-07-08 12:17] worksofliam commented on #213
Interesting.

I will open it back up, but I'm on vacation until the 19th.

Please feel free to do some debugging to find the source of the issue.

[2021-07-08 15:02] JDubbTX opened #214 "Connect to IBM i: Cannot read property 'startsWith' of undefined"
VSCODE Version:  1.57.1
Code for IBM i Version:  v0.6.1

I just installed this extension and when trying to connect to my IBM i am getting "Not connected to _host_! Cannot read property 'startsWith' of undefined"

I am able to SSH to the IBM i host which is at 7.4.
Also have SSH FS extension and it connects to the IBM i host just fine.

[2021-07-08 23:27] worksofliam commented on #214
Weird.

Are you leaving any of the fields blank?

[2021-07-09 18:26] SJLennon commented on #214
If you haven't resolved this, then you might want to post your settings.json file.
You do have PASE installed? Option 33 (5770-SS1 - Portable Application Solutions Environment).
@JDubbTX

[2021-07-09 20:16] JDubbTX commented on #214
Not yet resolved. Only field blank is the Private Key field - is it required?  Yes, PASE was installed somewhat recently and we have installed some OSS packages through YUM, etc.  I changed extension of settings.json to *.txt since github doesn't like *.json attachments.
[settings.json.txt](https://github.com/halcyon-tech/vscode-ibmi/files/6793755/settings.json.txt)

[2021-07-09 20:21] JDubbTX commented on #214
Does attempting to install this create libraries on the IBM i?  Asking because in my large organization developers (such as myself) do not have authority to create libraries.  I see in settings.json **"tempLibrary": "ILEDITOR".**.  Any crtlib command would fail for me due to lack of authority.  I've run into this as being an issue with RDi plugins before, so I want to make it known as an issue.

[2021-07-10 02:05] SJLennon commented on #214
A work library is needed on the IBM i.  I use PUB400.COM where users cannot create libraries so I have specify one of my two allocated libraries for tempLibrary. Specify an existing library you have authority to and that should solve the issue.
(This probably needs more highlighting in the help.)
@JDubbTX

[2021-07-10 20:26] SJLennon commented on #214
@JDubbTX I tried recreating your problem by removing all references to code-for-ibmi from my settings.json, then creating a new connection.  It connected. Under the OUTPUT tab with Code for IBM i selected I can see it trying to CRTLIB ILEDITOR and failing and then checking if it exists. when I go into settings.json I see it has set `"tempLibrary": "LENNONS1"`.  LENNONS1 is the first library in my

[2021-07-11 16:36] SJLennon commented on #213
FWIW:  I can confirm this is happening in the OBJECT BROWSER.  I wrote a 3 line CLP that did
DSPLIBL    OUTPUT(*PRINT), then ran the Call action in the OBJECT BROWSER.  Screen shot shows the reversed library list.
![image](https://user-images.githubusercontent.com/67484051/125202999-65e39800-e244-11eb-9568-f54f5dff1457.png)

[2021-07-12 18:18] JDubbTX commented on #214
db2util has not been installed yet on our system - still shows in the list of available.

So, there isn't a place for me to input a library name on the 'IBM i Login' screen.  When I give the connection a name, and hit connect, it does add an entry to code-for-ibmi.connectionSettings, and I can then go in and change the "tempLibrary" to a library name that I do have authority to.  However, if I the

[2021-07-12 18:24] JDubbTX commented on #214
The output does point to the ILEDITOR library name when I try to connect to a new name:
![image](https://user-images.githubusercontent.com/56802156/125337313-75caad00-e314-11eb-9960-99fb659dbc1f.png)

[2021-07-12 19:35] SJLennon commented on #214
@JDubbTX  Initially in the development I think the assumption on a new connection is that you would have CRTLIB authority and to to keep temporary files separate ILEDITOR library was the default.  As development continued/improved allowance was made for not having CRTLIB authority and it was circumvented by using (I deduce from experimentation), the *CURLIB from the user profile.  I suspect you do

[2021-07-12 19:42] SJLennon commented on #214
@JDubbTX
"db2util has not been installed yet on our system - still shows in the list of available."
Extension improvements again.  If it says available, but you don't see anything in the DATABASE BROWSER, then the extension has been clever and actually looked to see if it could find a db2Util on the system.  (If you troll though the closed issues you will find quite a bit about db2Util and how it

[2021-07-12 21:31] andymalo43 opened #215 "Cannot cannect on IBMi"
**Describe the bug**
When I am trying to connect to my IBMi, After initialising library, It sends me a message 'Not connected to xxx.xxx.xxx.xxx!'

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Icon
2. Configure connection (Name, Host , User, Password, OK
3. Notification 'Not connected'

**Screenshots**
![image](https://user-images.githubusercontent.com/87163807/125358383-8c284

[2021-07-13 02:49] SJLennon commented on #215
@andymalo43
I doubt there is enough provided to isolate the problem...
Suggestions:
1) Post your settings.json file.
2) Take a look at #214. It might help clarify what is wrong.
3) Ensure you have SSH Daemon must be started on IBM i.

[2021-07-13 04:02] andymalo43 commented on #215
Hi,
Sorry for the missing informations... and thank you for your time answering.

It stopped here :

![image](https://user-images.githubusercontent.com/87163807/125388488-4c308500-e3eb-11eb-9150-54c5324d45af.png)

Here are my settings.json concerning code for ibmi

`"code-for-ibmi.connectionSettings": [
        {
            "name": "IBMi",
            "sourceFileList": [
                "QSYSINC/

[2021-07-13 15:04] SJLennon commented on #215
@andymalo43  Ummm. Not sure what is going on.
Suggestions:
1) In your settings.json you have` "password":"xxx",`.  I do not have a password in mine and get prompted for it each time.
2) Can you get a SSH connection to your IBM i using another client, e.g. PuTTY, or Windows SSH client?
3) The extension write some debugging info the OUTPUT tab.  Select Code for IBM i in the drop down on the right. Y

[2021-07-13 17:49] JDubbTX commented on #214
Sorry, I should have been more clear.  db2util shows in the list of available (not installed) packages when I run 'yum list available' in a SSH terminal.

I will likely pursue getting db2util installed at a future date - we are just scratching the surface with OSS in our dev environment - which is used by dozens of devs and we adhere to strict seperation of duties.  Due to regulations I can't inst

[2021-07-13 18:05] JDubbTX commented on #214
It is true - in our organization CURLIB is not set / was set to *CRTDFT when developer profiles are created.  I don't have authority or desire to change this setting on my own user profile - requires *SECADM authority.

I have saved it and restarted.  The same behavior persists.

Its definitely not a password prompt.

[2021-07-13 18:31] SJLennon commented on #214
@JDubbTX  Well, I'm stumped.  Probably have to wait for Liam (Barry) to get back from vacation.

Other thoughts:
 - Your machine isn't running CCSID 65535 is it? (Don't know if this makes any difference but it has turned up in some other issues.)
 - Consider deleting all code-for-ibmi.* sections from your settings.json and start again.  I'd been experimenting with more than one connection and even

[2021-07-14 22:38] andymalo43 commented on #215
Hello,

1. 'xxx' was just to mask my password
2. Yep, i use Putty, ssh connexion from my linux computer
3. Thank you, here is the OUTPUT TAB :
![image](https://user-images.githubusercontent.com/87163807/125701774-31bb279d-5a8a-438f-9ede-98e78fc14fca.png)
I tried the command via ssh on  my server and nothing happened :/

[2021-07-14 23:39] SJLennon commented on #215
@andymalo43  Take the password line our of your settings.json, save it, and try to reconnect.

[2021-07-15 00:27] SJLennon commented on #215
@andymalo43 When you try to connect do you get a password prompt?  Like this:
![image](https://user-images.githubusercontent.com/67484051/125706905-62782d8d-8971-4c22-ad22-0559f9d3d7a2.png)
I ask because I just added a password line to my settings.json and it still prompted me for a password.

Comparing your OUTPUT tab to mine, your stdout is empty. Mine contains my library list which looks like i

[2021-07-15 13:43] JDubbTX commented on #214
Yes, my machine has 65535 for QCCSID sysvalue.

I actually did that before my post 3 days ago, and posted the output.  My OUTPUT tab contents are much less verbose.  Either it is stopping early in the process, or there is a setting somewhere I need to change to make it more verbose.

Here it is again for continuity:
![image](https://user-images.githubusercontent.com/56802156/125798159-d8ef4bbc-ba2

[2021-07-15 14:58] SJLennon commented on #215
@andymalo43 I've tried looking at the code, and while I know some javascript, I'm not an expert.  Then I reread some of your comments more carefully.  So...

If you are saying that `echo liblist | /QOpenSys/usr/bin/qsh` does nothing, then this is may be the problem.  For me, in PuTTY, it lists my library list
![image](https://user-images.githubusercontent.com/67484051/125806257-e7ff44d4-4bda-4ef3-

[2021-07-15 15:26] SJLennon commented on #214
@JDubbTX Been trolling through the extension code, though I'm not a Javascript expert.  It appears that the current library cannot start with a "Q" , which precludes QTEMP and QGPL.  (Though I'm not clear how this stops the connection from proceeding.)
I said:

Have you tried this?

[2021-07-16 15:32] worksofliam commented on #213
Ha.

I will look into getting this fixed this weekend.

[2021-07-16 15:52] worksofliam commented on #215
This is likely the issue. A useful start is seeing the exit code is 9 here. Let me do some research.

[2021-07-16 15:58] worksofliam commented on #215
Looks like this may be the same issue as #69

[2021-07-16 16:10] worksofliam commented on #215
@andymalo43 What is your QCCSID?

[2021-07-16 17:37] JDubbTX commented on #214
Yes I tried that.

I noticed that there are code-for-ibmi.connections as well as code-for-ibmi.connection_Settings_ in the setting.json.

please provide example of code-for-ibmi.connections, as this is empty in my settings.json and I think this might be why nothing happens when I click 'connect to a previous IBM i.

[2021-07-16 17:39] worksofliam commented on #214
@JDubbTX

That is correct. We should likely add a handler for this.

I am back from vacation and will be taking a look at this issue over the weekend.

[2021-07-16 17:41] worksofliam commented on #214
@JDubbTX Please share the entire connection log after you try to connect to a new system.

[2021-07-16 17:46] JDubbTX commented on #214
Update - I found an example in another post of code-for-ibmi.connections.  I copied it in to my settings.json file and modified it to match my connection, and it now connects.

I think the root of this is that something was preventing the information being added to code-for-ibmi.connections.  I was never able to successfully connect the first time due to some issue (current library, or something e

[2021-07-16 17:48] worksofliam commented on #214
Thanks for the update @JDubbTX - I will look into the issue with setting the tempLibrary and report back here.

[2021-07-16 18:59] SJLennon commented on #214
FWIW:  From what I can tell, this user has an unusual setup.:
- has no current library in his user profile
- has only QTEMP  and QGPL in his library list
- cannot use CRTLIB
- does not have db2util installed.

You can't default the tempLibrary to QTEMP so the only library left is QGPL and I'm not sure using that is a good idea.  Maybe you need to prompt for the temporary library in situations wher

[2021-07-16 19:27] worksofliam commented on #214
@SJLennon a great suggestion. I am going to work on this tonight.

[2021-07-17 14:35] worksofliam commented on #213
Good morning. I have recreated this issue.

![image](https://user-images.githubusercontent.com/3708366/126040355-a26d239e-037b-4bf1-9f87-30cf10a0afac.png)

[2021-07-17 14:42] worksofliam commented on #213
This is where the issue starts: https://github.com/halcyon-tech/vscode-ibmi/blob/master/src/api/CompileTools.js#L258

The first reverse is correct, but the second on 270 is where it is breaking. `.reverse` is not creating a new instance of the array, it is mutating the base one, which is why it is coming backward.

I have resolved it and there will be a fix out very soon.

[2021-07-17 15:58] worksofliam commented on #213
I'm about to release 0.6.2 which should solve this issue.

[2021-07-17 16:01] worksofliam commented on #214
@JDubbTX I pushed 0.6.2 which adds warnings and notices that the user needs to set the `tempLibrary` if it couldn't during the connect stage.

[2021-07-18 17:03] JDubbTX commented on #214
OK, I am testing this by making a backup of my working settings.json, then deleted out all of code-for-ibmi-connections.  Now I'm getting this:
![image](https://user-images.githubusercontent.com/56802156/126075815-2fe9a902-8070-46c8-b677-d5c39e391989.png)
and this has been added to code-for-ibmi-connections:
![image](https://user-images.githubusercontent.com/56802156/126075838-d08808fa-276a-4fd8-b

[2021-07-18 17:03] #214 closed

[2021-07-18 17:20] worksofliam commented on #214
@JDubbTX that is awesome.

Thanks for your help in raising this issue!

[2021-07-18 17:21] worksofliam commented on #213
@benetti-smeup @SJLennon have either of you had a look at testing my fix at all? No rush, just curious.

[2021-07-18 18:02] SJLennon commented on #213
@worksofliam I checked it out calling my test program, which was, I think, identical to yours.  Hopefully, that covers the situation of @benetti-smeup as well.

[2021-07-18 18:04] worksofliam commented on #213
@SJLennon that is great.

Hopefully Marco can get back here sooner so we can close this issue 🙌

[2021-07-19 06:56] benetti-smeup commented on #213
@worksofliam It works!
thank you!

[2021-07-19 13:50] #213 closed

[2021-07-19 16:11] eduardomarco commented on #209
I have the same problem

[2021-07-19 17:05] worksofliam commented on #209
I will have to look into getting this setup myself.

[2021-07-20 10:29] benetti-smeup opened #217 "Concurrent modification of a member"
**Describe the bug**
I opened a member in SEU with option 2 and the same member in "Code for i".
I changed a row in "Code for i" and saved.
Then exited without saving in SEU and reopened the member in SEU. The row modified in "Code for i" was changed.
It seems that "Code for i" can save a member even if it is in use.

I also tried to open the same member at the same time in Code for i on 2 differe

[2021-07-20 15:31] AMDOCA opened #218 "Code for IBM i will not function correctly until the temporary library has been corrected in the settings."
No matter what I do this error pops up when connecting to IBM i.

[2021-07-20 16:07] SJLennon commented on #218
@AMDOCA
You might want to look at closed issue #214.

Have you added tempLibrary to your settings.json?

It might help to resolve the issue if you posted your settings.json.